Repository ArkEcosystem/platform-sdk, pull requests merged in 2021-05, with the labels that each got.

#1381 feat(profiles): implement `IProfile#hasCompletedTutorial`
  packages/platform-sdk-profiles/src/contracts/profiles/profile.enum.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
Labels: Domain: Profiles

#1382 refactor(profiles): remove duplicate name type check
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/setting-repository.ts
Labels: Domain: Profiles

#1388 chore: update coin libs
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-egld/src/services/transaction.ts
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-eth/src/services/transaction.ts
Labels: Domain: EGLD, Domain: ETH

#1390 feat(profiles): implement `IProfileRepository#tap`
  packages/platform-sdk-profiles/src/contracts/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/environment/container.ts
  packages/platform-sdk-profiles/src/environment/state.ts
Labels: Domain: Profiles

#1391 release: 6.0.8
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1392 test(sdk): enforce 100% coverage
  jest.coverage.js
  packages/platform-sdk-profiles/src/environment/container.ts
  packages/platform-sdk/src/coins/coin.test.ts
  packages/platform-sdk/src/coins/collections/paginator.test.ts
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/coins/network.ts
  packages/platform-sdk/src/exceptions.test.ts
  packages/platform-sdk/src/http/request.test.ts
Labels: Domain: Profiles, Domain: SDK

#1394 chore: update coin libs
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1395 refactor(profiles): bind password manager to profile instance
  packages/platform-sdk-cli/src/commands/access-profile.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/profiles/services/password.ts
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/password.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/password.ts
  packages/platform-sdk-profiles/src/helpers/index.ts
  packages/platform-sdk-profiles/src/helpers/password.test.ts
  packages/platform-sdk-profiles/src/helpers/password.ts
Labels: Domain: CLI, Domain: Profiles

#1396 release: 6.0.9
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1397 chore: update `dot-prop` dependency
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk/package.json
Labels: Domain: ARK, Domain: Profiles, Domain: SDK, Domain: Support

#1398 test(profiles): create snapshots for available networks
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/src/environment/env.test.ts
Labels: Domain: Profiles

#1393 test(profiles): enforce 100% coverage
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-eth-indexer/src/index.ts
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-profiles/src/contracts/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/driver.factory.test.ts
  packages/platform-sdk-profiles/src/drivers/driver.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/plugins/registry-plugin.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/coin-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/coin-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/helpers/delegate-syncer.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/helpers/delegate-syncer.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.synchroniser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/environment/container.test.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
  packages/platform-sdk-profiles/src/environment/env.ts
  packages/platform-sdk-profiles/src/environment/state.test.ts
  packages/platform-sdk-profiles/src/environment/state.ts
  packages/platform-sdk-profiles/src/environment/storage/factory.test.ts
  packages/platform-sdk-profiles/src/helpers/attribute-bag.test.ts
  packages/platform-sdk-profiles/test/fixtures/client/delegates-single-page.json
  packages/platform-sdk-profiles/test/helpers.ts
Labels: Domain: ETH/Indexer, Domain: Profiles

#1401 refactor(profiles): use symbols as container binding keys
  packages/platform-sdk-profiles/src/environment/container.models.ts
  packages/platform-sdk-profiles/src/environment/container.ts
Labels: Domain: Profiles

#1404 refactor: allow `estimateExpiration` to return undefined
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-atom/src/services/transaction.ts
  packages/platform-sdk-avax/src/services/transaction.ts
  packages/platform-sdk-btc/src/services/transaction.ts
  packages/platform-sdk-dot/src/services/transaction.ts
  packages/platform-sdk-egld/src/services/transaction.ts
  packages/platform-sdk-eos/src/services/transaction.ts
  packages/platform-sdk-eth/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-luna/src/services/transaction.ts
  packages/platform-sdk-nano/src/services/transaction.ts
  packages/platform-sdk-neo/src/services/transaction.ts
  packages/platform-sdk-sol/src/services/transaction.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-xlm/src/services/transaction.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk/src/contracts/coins/transaction.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP

#1405 release: 6.0.13
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1406 release: 6.0.14
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1408 release: 6.0.16
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1410 release: 6.0.17
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1412 refactor(profiles): allow BIP49 and BIP84 as import methods
  jest.coverage.js
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
Labels: Domain: Profiles, Domain: SDK

#1415 fix: return default values for methods that are always called
  packages/platform-sdk-ada/src/dto/wallet.test.ts
  packages/platform-sdk-ada/src/dto/wallet.ts
  packages/platform-sdk-ada/src/manifest.ts
  packages/platform-sdk-atom/src/dto/signed-transaction.ts
  packages/platform-sdk-atom/src/dto/wallet.test.ts
  packages/platform-sdk-atom/src/dto/wallet.ts
  packages/platform-sdk-atom/src/services/identity/address.ts
  packages/platform-sdk-btc/src/dto/signed-transaction.ts
  packages/platform-sdk-btc/src/dto/wallet.test.ts
  packages/platform-sdk-btc/src/dto/wallet.ts
  packages/platform-sdk-dot/src/manifest.ts
  packages/platform-sdk-egld/src/manifest.ts
  packages/platform-sdk-eos/src/dto/signed-transaction.ts
  packages/platform-sdk-eos/src/dto/wallet.test.ts
  packages/platform-sdk-eos/src/dto/wallet.ts
  packages/platform-sdk-eos/src/services/identity/address.ts
  packages/platform-sdk-eth/src/dto/signed-transaction.ts
  packages/platform-sdk-eth/src/dto/wallet.test.ts
  packages/platform-sdk-eth/src/dto/wallet.ts
  packages/platform-sdk-luna/src/dto/wallet.ts
  packages/platform-sdk-luna/src/manifest.ts
  packages/platform-sdk-nano/src/dto/wallet.ts
  packages/platform-sdk-nano/src/manifest.ts
  packages/platform-sdk-neo/src/dto/signed-transaction.ts
  packages/platform-sdk-neo/src/dto/wallet.test.ts
  packages/platform-sdk-neo/src/dto/wallet.ts
  packages/platform-sdk-sol/src/dto/wallet.ts
  packages/platform-sdk-sol/src/manifest.ts
  packages/platform-sdk-trx/src/dto/signed-transaction.ts
  packages/platform-sdk-trx/src/dto/wallet.test.ts
  packages/platform-sdk-trx/src/dto/wallet.ts
  packages/platform-sdk-trx/src/services/identity/address.ts
  packages/platform-sdk-xlm/src/dto/signed-transaction.ts
  packages/platform-sdk-xlm/src/dto/wallet.test.ts
  packages/platform-sdk-xlm/src/dto/wallet.ts
  packages/platform-sdk-xlm/src/services/identity/address.ts
  packages/platform-sdk-xrp/src/dto/signed-transaction.ts
  packages/platform-sdk-xrp/src/dto/wallet.ts
  packages/platform-sdk-xrp/src/services/identity/address.ts
Labels: Domain: ADA, Domain: ATOM, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP

#1416 release: 6.0.19
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1417 fix(egld): divide balance by `1e18`
  packages/platform-sdk-egld/src/dto/signed-transaction.ts
  packages/platform-sdk-egld/src/dto/transaction.ts
  packages/platform-sdk-egld/src/dto/wallet.ts
Labels: Domain: EGLD

#1418 fix(trx): multi wallet balance by `1e2`
  packages/platform-sdk-trx/src/dto/wallet.ts
Labels: Domain: TRX

#1419 fix(xrp): return `undefined` for unavailable values
  packages/platform-sdk-xrp/src/dto/wallet.test.ts
  packages/platform-sdk-xrp/src/dto/wallet.ts
  packages/platform-sdk-xrp/src/services/client.ts
Labels: Domain: XRP

#1421 fix(xrp): look up specific address or first address
  packages/platform-sdk-xrp/src/services/client.ts
Labels: Domain: XRP

#1425 style: resolve style guide violations
  packages/platform-sdk-profiles/package.json
Labels: Domain: Profiles

#1426 feat(trx): implement `ClientService#transactions`
  packages/platform-sdk-trx/src/dto/transaction.ts
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/services/client.ts
Labels: Domain: TRX

#1427 release: 6.0.26
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1428 fix(trx): use archival host for transaction listing
  packages/platform-sdk-trx/src/services/client.ts
Labels: Domain: TRX

#1429 fix(trx): handle empty values within transaction data
  packages/platform-sdk-trx/src/dto/transaction.ts
  packages/platform-sdk-trx/src/dto/transactions/transfer.ts
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/services/client.ts
Labels: Domain: TRX

#1431 refactor(trx): throw an exception if the archival host is `undefined`
  packages/platform-sdk-trx/src/services/client.ts
Labels: Domain: TRX

#1432 fix(sdk): merge default network manifest and stored manifest
  packages/platform-sdk-profiles/src/environment/env.ts
  packages/platform-sdk/src/coins/coin.ts
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: Profiles, Domain: SDK

#1433 release: 6.0.29
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1434 fix(btc-indexer): store tx id instead of hash
  packages/platform-sdk-btc-indexer/src/database.ts
Labels: Domain: BTC/Indexer

#1435 release: 6.0.30
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1437 release: 6.0.31
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1440 refactor(ark): estimate transaction expiration if none is specified
  packages/platform-sdk-ark/src/services/transaction.ts
Labels: Domain: ARK

#1441 test(trx): include jest-extended
  packages/platform-sdk-trx/src/dto/wallet.test.ts
Labels: Domain: TRX

#1443 refactor(egld): return some default fees
  packages/platform-sdk-egld/src/services/fee.ts
Labels: Domain: EGLD

#1444 release: 6.0.34
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1442 refactor(tron): use standard API to list transactions
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-trx/src/dto/transaction.ts
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/services/client.test.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-trx/test/fixtures/client/transactions.json
  packages/platform-sdk-trx/test/helpers.ts
Labels: Domain: TRX

#1445 fix(profiles): make password available when restoring profile
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
Labels: Domain: Profiles

#1446 feat(zil): initial implementation
  .github/labeler.yml
  .github/workflows/ci.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-zil/LICENSE
  packages/platform-sdk-zil/README.md
  packages/platform-sdk-zil/banner.png
  packages/platform-sdk-zil/package.json
  packages/platform-sdk-zil/src/dto/index.ts
  packages/platform-sdk-zil/src/dto/signed-transaction.ts
  packages/platform-sdk-zil/src/dto/transaction.ts
  packages/platform-sdk-zil/src/dto/wallet.ts
  packages/platform-sdk-zil/src/index.ts
  packages/platform-sdk-zil/src/manifest.ts
  packages/platform-sdk-zil/src/networks/zil/mainnet.ts
  packages/platform-sdk-zil/src/networks/zil/testnet.ts
  packages/platform-sdk-zil/src/schema.ts
  packages/platform-sdk-zil/src/service-provider.ts
  packages/platform-sdk-zil/src/services/client.test.ts
  packages/platform-sdk-zil/src/services/client.ts
  packages/platform-sdk-zil/src/services/data-transfer-object.ts
  packages/platform-sdk-zil/src/services/fee.ts
  packages/platform-sdk-zil/src/services/identity.test.ts
  packages/platform-sdk-zil/src/services/identity/address-list.ts
  packages/platform-sdk-zil/src/services/identity/address.ts
  packages/platform-sdk-zil/src/services/identity/index.ts
  packages/platform-sdk-zil/src/services/identity/keys.ts
  packages/platform-sdk-zil/src/services/identity/private-key.ts
  packages/platform-sdk-zil/src/services/identity/public-key.ts
  packages/platform-sdk-zil/src/services/identity/wif.ts
  packages/platform-sdk-zil/src/services/index.ts
  packages/platform-sdk-zil/src/services/known-wallets.ts
  packages/platform-sdk-zil/src/services/ledger.ts
  packages/platform-sdk-zil/src/services/link.ts
  packages/platform-sdk-zil/src/services/message.ts
  packages/platform-sdk-zil/src/services/multi-signature.ts
  packages/platform-sdk-zil/src/services/peer.ts
  packages/platform-sdk-zil/src/services/transaction.test.ts
  packages/platform-sdk-zil/src/services/transaction.ts
  packages/platform-sdk-zil/src/zilliqa.ts
  packages/platform-sdk-zil/test/config.ts
  packages/platform-sdk-zil/test/fixtures/client/broadcast-create.json
  packages/platform-sdk-zil/test/fixtures/client/broadcast-failure.json
  packages/platform-sdk-zil/test/fixtures/client/broadcast-minimum-gas-price.json
  packages/platform-sdk-zil/test/fixtures/client/broadcast-request-payload.json
  packages/platform-sdk-zil/test/fixtures/client/broadcast-success.json
  packages/platform-sdk-zil/test/fixtures/client/transaction.json
  packages/platform-sdk-zil/test/fixtures/client/wallet.json
  packages/platform-sdk-zil/test/fixtures/identity.ts
  packages/platform-sdk-zil/tsconfig.json
  rush.json
Labels: ci

#1449 fix(zil): use token name as manifest name
  packages/platform-sdk-zil/src/manifest.ts
Labels: Domain: ZIL

#1452 feat(profiles): implement `IPasswordManager#forget`
  packages/platform-sdk-profiles/src/contracts/profiles/services/password.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/password.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/password.ts
Labels: Domain: Profiles

#1454 fix(ark): use of network expiration
  packages/platform-sdk-ark/src/services/transaction.test.ts
  packages/platform-sdk-ark/src/services/transaction.ts
Labels: Domain: ARK

#1456 fix(btc-indexer): import logger directly
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/helpers.ts
  packages/platform-sdk-btc-indexer/src/index.ts
Labels: Domain: BTC/Indexer

#1453 feat(profiles): create complete tutorial function
  packages/platform-sdk-profiles/src/contracts/profiles/profile.enum.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
Labels: Domain: Profiles

#1459 fix(zil): treat bech32 addresses as valid and turn balance into satoshi
  packages/platform-sdk-zil/src/dto/wallet.ts
  packages/platform-sdk-zil/src/services/client.test.ts
  packages/platform-sdk-zil/src/services/client.ts
  packages/platform-sdk-zil/src/services/identity.test.ts
  packages/platform-sdk-zil/src/services/identity/address.ts
  packages/platform-sdk-zil/src/zilliqa.ts
Labels: Domain: ZIL

#1462 chore(atom): remove terra coin
  packages/platform-sdk-atom/src/manifest.ts
  packages/platform-sdk-atom/src/networks/cosmos/mainnet.ts
  packages/platform-sdk-atom/src/networks/terra/mainnet.ts
  packages/platform-sdk-atom/src/networks/terra/testnet.ts
  packages/platform-sdk-atom/src/schema.ts
Labels: Domain: ATOM

#1463 fix(atom): get wallet balance from bank endpoint
  packages/platform-sdk-atom/src/dto/transaction.ts
  packages/platform-sdk-atom/src/dto/wallet.test.ts
  packages/platform-sdk-atom/src/dto/wallet.ts
  packages/platform-sdk-atom/src/networks/cosmos/mainnet.ts
  packages/platform-sdk-atom/src/networks/cosmos/testnet.ts
  packages/platform-sdk-atom/src/services/client.test.ts
  packages/platform-sdk-atom/src/services/client.ts
  packages/platform-sdk-atom/src/services/transaction.test.ts
  packages/platform-sdk-atom/test/fixtures/client/wallet-balance.json
  packages/platform-sdk-atom/test/fixtures/client/wallet.json
Labels: Domain: ATOM

#1468 feat: implement `PeerService#validate`
  packages/platform-sdk-ada/src/services/peer.ts
  packages/platform-sdk-ark/src/service-provider.ts
  packages/platform-sdk-ark/src/services/peer.ts
  packages/platform-sdk-atom/src/services/peer.ts
  packages/platform-sdk-avax/src/services/peer.ts
  packages/platform-sdk-btc/src/services/peer.ts
  packages/platform-sdk-dot/src/services/peer.ts
  packages/platform-sdk-egld/src/services/peer.ts
  packages/platform-sdk-eos/src/services/peer.ts
  packages/platform-sdk-eth/src/services/peer.ts
  packages/platform-sdk-lsk/src/services/peer.ts
  packages/platform-sdk-luna/src/services/peer.ts
  packages/platform-sdk-nano/src/services/peer.ts
  packages/platform-sdk-neo/src/services/peer.ts
  packages/platform-sdk-sol/src/services/peer.ts
  packages/platform-sdk-trx/src/services/peer.ts
  packages/platform-sdk-xlm/src/services/peer.ts
  packages/platform-sdk-xrp/src/services/peer.ts
  packages/platform-sdk-zil/src/services/peer.ts
  packages/platform-sdk/src/contracts/coins/peer.ts
  packages/platform-sdk/src/http/exceptions.test.ts
  packages/platform-sdk/src/http/exceptions.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1469 refactor: add support for multi-balance wallets
  packages/platform-sdk-ada/src/dto/wallet.test.ts
  packages/platform-sdk-ada/src/dto/wallet.ts
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-ark/src/dto/wallet.test.ts
  packages/platform-sdk-ark/src/dto/wallet.ts
  packages/platform-sdk-ark/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-atom/src/dto/wallet.test.ts
  packages/platform-sdk-atom/src/dto/wallet.ts
  packages/platform-sdk-atom/src/services/client.test.ts
  packages/platform-sdk-avax/src/dto/wallet.ts
  packages/platform-sdk-btc/src/dto/wallet.test.ts
  packages/platform-sdk-btc/src/dto/wallet.ts
  packages/platform-sdk-btc/src/services/client.test.ts
  packages/platform-sdk-cli/src/commands/import-ledger-wallet.ts
  packages/platform-sdk-dot/src/dto/wallet.ts
  packages/platform-sdk-egld/src/dto/wallet.ts
  packages/platform-sdk-eos/src/dto/wallet.test.ts
  packages/platform-sdk-eos/src/dto/wallet.ts
  packages/platform-sdk-eth/src/dto/wallet.test.ts
  packages/platform-sdk-eth/src/dto/wallet.ts
  packages/platform-sdk-eth/src/services/client.test.ts
  packages/platform-sdk-lsk/src/dto/wallet.test.ts
  packages/platform-sdk-lsk/src/dto/wallet.ts
  packages/platform-sdk-luna/src/dto/wallet.ts
  packages/platform-sdk-nano/src/dto/wallet.ts
  packages/platform-sdk-neo/src/dto/wallet.test.ts
  packages/platform-sdk-neo/src/dto/wallet.ts
  packages/platform-sdk-neo/src/services/client.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/exchange-rate-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-sol/src/dto/wallet.ts
  packages/platform-sdk-trx/src/dto/wallet.test.ts
  packages/platform-sdk-trx/src/dto/wallet.ts
  packages/platform-sdk-xlm/src/dto/wallet.test.ts
  packages/platform-sdk-xlm/src/dto/wallet.ts
  packages/platform-sdk-xlm/src/services/client.test.ts
  packages/platform-sdk-xrp/src/dto/wallet.test.ts
  packages/platform-sdk-xrp/src/dto/wallet.ts
  packages/platform-sdk-xrp/src/services/client.test.ts
  packages/platform-sdk-zil/src/dto/wallet.ts
  packages/platform-sdk-zil/src/services/client.test.ts
  packages/platform-sdk/src/contracts/coins/data.ts
  packages/platform-sdk/src/dto/wallet.test.ts
  packages/platform-sdk/src/dto/wallet.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1470 release: 7.0.0
  CHANGELOG-6.X.md
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1473 feat(xrp): implement mnemonic derivation
  packages/platform-sdk-xrp/src/services/identity/address.ts
  packages/platform-sdk-xrp/src/services/identity/index.ts
  packages/platform-sdk-xrp/src/services/identity/keys.ts
  packages/platform-sdk-xrp/src/services/identity/private-key.ts
  packages/platform-sdk-xrp/src/services/identity/public-key.ts
  packages/platform-sdk-xrp/src/services/identity/wif.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
Labels: Domain: XRP

#1472 fix(profiles): await profile restore
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
Labels: Domain: Profiles

#1478 feat(trx): return default values for all fees
  packages/platform-sdk-trx/src/services/fee.ts
Labels: Domain: TRX

#1476 feat(trx): implement wallet derivation
  packages/platform-sdk-trx/src/services/identity/address.test.ts
  packages/platform-sdk-trx/src/services/identity/address.ts
  packages/platform-sdk-trx/src/services/identity/index.ts
  packages/platform-sdk-trx/src/services/identity/keys.test.ts
  packages/platform-sdk-trx/src/services/identity/keys.ts
  packages/platform-sdk-trx/src/services/identity/private-key.test.ts
  packages/platform-sdk-trx/src/services/identity/private-key.ts
  packages/platform-sdk-trx/src/services/identity/public-key.test.ts
  packages/platform-sdk-trx/src/services/identity/public-key.ts
  packages/platform-sdk-trx/src/services/identity/wif.test.ts
  packages/platform-sdk-trx/src/services/identity/wif.ts
  packages/platform-sdk-trx/test/identity.ts
Labels: Domain: TRX

#1479 fix(trx): derive private key for transaction signing
  packages/platform-sdk-trx/src/services/identity/keys.test.ts
  packages/platform-sdk-trx/src/services/transaction.ts
Labels: Domain: TRX

#1480 fix(trx): take frozen and TRC20 balances into account
  packages/platform-sdk-trx/src/dto/wallet.test.ts
  packages/platform-sdk-trx/src/dto/wallet.ts
  packages/platform-sdk-trx/src/services/client.test.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-trx/src/services/transaction.test.ts
  packages/platform-sdk-trx/test/fixtures/client/wallet.json
Labels: Domain: TRX

#1481 fix(trx): resolve signing and broadcasting failures
  common/config/rush/repo-state.json
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-trx/src/services/transaction.test.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-trx/test/fixtures/crypto/transfer.json
Labels: Domain: TRX

#1482 fix(trx): map correct signed transaction data
  packages/platform-sdk-trx/src/dto/signed-transaction.ts
Labels: Domain: TRX

#1487 chore(zil): update readme banner
  packages/platform-sdk-zil/banner.png
Labels: Domain: ZIL

#1492 test(profiles): temporarily ignore some coverage
  packages/platform-sdk-profiles/src/drivers/memory/repositories/setting-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
Labels: Domain: Profiles

#1493 feat(profiles): implement profile status service
  packages/platform-sdk-profiles/src/contracts/profiles/index.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.status.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.status.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.status.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-zil-indexer/src/database.ts
  packages/platform-sdk-zil-indexer/src/helpers.ts
  packages/platform-sdk-zil-indexer/src/index.ts
Labels: Domain: Profiles

#1494 refactor(profiles): save changes only for restored profiles
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
Labels: Domain: Profiles

#1467 docs(examples): example TRX transfer
  examples/bin/run
  examples/src/examples/transfer-ark.ts
  examples/src/examples/transfer-trx.ts
  examples/src/examples/transfer.ts
  examples/src/helpers.ts
  examples/src/index.ts
  packages/platform-sdk-trx/src/dto/signed-transaction.ts
Labels: Domain: TRX

#1495 fix(ada): correct balances
  packages/platform-sdk-ada/src/dto/wallet.test.ts
  packages/platform-sdk-ada/src/dto/wallet.ts
  packages/platform-sdk-trx/src/services/client.test.ts
Labels: Domain: ADA, Domain: TRX

#1497 refactor: remove total balance
  packages/platform-sdk-ada/src/dto/wallet.test.ts
  packages/platform-sdk-ada/src/dto/wallet.ts
  packages/platform-sdk-ark/src/dto/wallet.ts
  packages/platform-sdk-ark/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-atom/src/dto/wallet.ts
  packages/platform-sdk-avax/src/dto/wallet.ts
  packages/platform-sdk-btc/src/dto/wallet.ts
  packages/platform-sdk-dot/src/dto/wallet.ts
  packages/platform-sdk-egld/src/dto/wallet.ts
  packages/platform-sdk-eos/src/dto/wallet.ts
  packages/platform-sdk-eth/src/dto/wallet.ts
  packages/platform-sdk-lsk/src/dto/wallet.ts
  packages/platform-sdk-luna/src/dto/wallet.ts
  packages/platform-sdk-nano/src/dto/wallet.ts
  packages/platform-sdk-neo/src/dto/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-sol/src/dto/wallet.ts
  packages/platform-sdk-trx/src/dto/wallet.ts
  packages/platform-sdk-trx/src/services/client.test.ts
  packages/platform-sdk-xlm/src/dto/wallet.ts
  packages/platform-sdk-xrp/src/dto/wallet.ts
  packages/platform-sdk-zil/src/dto/wallet.ts
  packages/platform-sdk/src/contracts/coins/data.ts
  packages/platform-sdk/src/dto/wallet.test.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1500 refactor: update manifest structure
  packages/platform-sdk-ark/src/networks/ark/devnet.ts
  packages/platform-sdk-ark/src/networks/ark/mainnet.ts
  packages/platform-sdk-ark/src/networks/compendia/mainnet.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk-xrp/src/networks/xrp/mainnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/testnet.ts
  packages/platform-sdk/src/coins/network-repository.test.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK, Domain: XRP

#1502 feat(nano): implement `ClientService#transactions`
  packages/platform-sdk-nano/src/dto/index.ts
  packages/platform-sdk-nano/src/dto/transaction.ts
  packages/platform-sdk-nano/src/dto/transactions/delegate-registration.ts
  packages/platform-sdk-nano/src/dto/transactions/delegate-resignation.ts
  packages/platform-sdk-nano/src/dto/transactions/htlc-claim.ts
  packages/platform-sdk-nano/src/dto/transactions/htlc-lock.ts
  packages/platform-sdk-nano/src/dto/transactions/htlc-refund.ts
  packages/platform-sdk-nano/src/dto/transactions/index.ts
  packages/platform-sdk-nano/src/dto/transactions/ipfs.ts
  packages/platform-sdk-nano/src/dto/transactions/multi-payment.ts
  packages/platform-sdk-nano/src/dto/transactions/multi-signature.ts
  packages/platform-sdk-nano/src/dto/transactions/second-signature.ts
  packages/platform-sdk-nano/src/dto/transactions/transfer.ts
  packages/platform-sdk-nano/src/dto/transactions/vote.ts
  packages/platform-sdk-nano/src/dto/wallet.ts
  packages/platform-sdk-nano/src/services/__snapshots__/client.test.ts.snap
  packages/platform-sdk-nano/src/services/client.test.ts
  packages/platform-sdk-nano/src/services/client.ts
  packages/platform-sdk-nano/test/fixtures/client/transactions.json
  packages/platform-sdk-xrp/src/services/client.ts
Labels: Domain: XRP

#1496 fix(ada): ada transfers get utxos from mnemonic
  examples/bin/run
  examples/src/examples/transfer-ada.ts
  examples/src/helpers.ts
  examples/src/index.ts
  packages/platform-sdk-ada/src/dto/wallet.test.ts
  packages/platform-sdk-ada/src/dto/wallet.ts
  packages/platform-sdk-ada/src/services/transaction.test.ts
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-nano/src/services/message.ts
Labels: Domain: ADA

#1513 fix(trx): handle lack of frozen balance
  packages/platform-sdk-trx/src/dto/wallet.ts
Labels: Domain: TRX

#1515 release: 7.0.24
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1523 fix(profiles): avoid return a BigNumber instance that is a number as balance
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-trx/src/services/transaction.ts
Labels: Domain: Profiles, Domain: TRX

#1522 fix(trx): testnet explorer url
  packages/platform-sdk-trx/src/networks/trx/testnet.ts
Labels: Domain: TRX

#1521 fix(trx): memo and block id extraction
  packages/platform-sdk-trx/src/dto/transaction.test.ts
  packages/platform-sdk-trx/src/dto/transaction.ts
  packages/platform-sdk-trx/test/fixtures/client/transactions.json
Labels: Domain: TRX

#1524 release: 7.0.29
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1525 feat(sdk): indicate zero transaction fees
  packages/platform-sdk-nano/src/networks/nano/mainnet.ts
  packages/platform-sdk-nano/src/networks/nano/testnet.ts
  packages/platform-sdk-neo/src/networks/neo/mainnet.ts
  packages/platform-sdk-neo/src/networks/neo/testnet.ts
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/networks/trx/testnet.ts
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
  packages/platform-sdk/src/coins/network.models.ts
Labels: Domain: NEO, Domain: SDK, Domain: TRX

#1526 release: 7.0.30
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1527 refactor: remove custom peer remains
  packages/platform-sdk-ark/src/networks/ark/devnet.ts
  packages/platform-sdk-ark/src/networks/ark/mainnet.ts
  packages/platform-sdk-ark/src/networks/compendia/mainnet.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
  packages/platform-sdk/src/coins/network-repository.test.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1528 refactor: remove seeds and peer search
  packages/platform-sdk-ada/src/services/peer.ts
  packages/platform-sdk-ark/src/helpers.ts
  packages/platform-sdk-ark/src/services/peer.test.ts
  packages/platform-sdk-ark/src/services/peer.ts
  packages/platform-sdk-atom/src/services/peer.ts
  packages/platform-sdk-avax/src/services/peer.ts
  packages/platform-sdk-btc/src/services/peer.ts
  packages/platform-sdk-dot/src/services/peer.ts
  packages/platform-sdk-egld/src/services/peer.ts
  packages/platform-sdk-eos/src/services/peer.ts
  packages/platform-sdk-eth/src/services/peer.ts
  packages/platform-sdk-lsk/src/services/peer.ts
  packages/platform-sdk-luna/src/services/peer.ts
  packages/platform-sdk-nano/src/services/peer.ts
  packages/platform-sdk-neo/src/services/peer.ts
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk-sol/src/services/peer.ts
  packages/platform-sdk-trx/src/services/peer.ts
  packages/platform-sdk-xlm/src/services/peer.ts
  packages/platform-sdk-xrp/src/services/peer.ts
  packages/platform-sdk-zil/src/services/peer.ts
  packages/platform-sdk/src/contracts/coins/peer.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1529 refactor: explicitly declare fee type and ticker
  packages/platform-sdk-ada/src/networks/ada/mainnet.ts
  packages/platform-sdk-ada/src/networks/ada/testnet.ts
  packages/platform-sdk-ark/src/networks/ark/devnet.ts
  packages/platform-sdk-ark/src/networks/ark/mainnet.ts
  packages/platform-sdk-ark/src/networks/compendia/mainnet.ts
  packages/platform-sdk-atom/src/networks/cosmos/mainnet.ts
  packages/platform-sdk-atom/src/networks/cosmos/testnet.ts
  packages/platform-sdk-avax/src/networks/avax/mainnet.ts
  packages/platform-sdk-avax/src/networks/avax/testnet.ts
  packages/platform-sdk-btc/src/networks/btc/livenet.ts
  packages/platform-sdk-btc/src/networks/btc/testnet.ts
  packages/platform-sdk-dot/src/networks/dot/mainnet.ts
  packages/platform-sdk-dot/src/networks/ksm/mainnet.ts
  packages/platform-sdk-egld/src/networks/egld/mainnet.ts
  packages/platform-sdk-egld/src/networks/egld/testnet.ts
  packages/platform-sdk-eos/src/networks/bos/mainnet.ts
  packages/platform-sdk-eos/src/networks/eos/mainnet.ts
  packages/platform-sdk-eos/src/networks/eos/testnet.ts
  packages/platform-sdk-eos/src/networks/meetone/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/testnet.ts
  packages/platform-sdk-eos/src/networks/wax/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/testnet.ts
  packages/platform-sdk-eth/src/networks/eth/goerli.ts
  packages/platform-sdk-eth/src/networks/eth/kovan.ts
  packages/platform-sdk-eth/src/networks/eth/mainnet.ts
  packages/platform-sdk-eth/src/networks/eth/rinkeby.ts
  packages/platform-sdk-eth/src/networks/eth/ropsten.ts
  packages/platform-sdk-lsk/src/networks/lsk/mainnet.ts
  packages/platform-sdk-lsk/src/networks/lsk/testnet.ts
  packages/platform-sdk-luna/src/networks/luna/mainnet.ts
  packages/platform-sdk-luna/src/networks/luna/testnet.ts
  packages/platform-sdk-nano/src/manifest.ts
  packages/platform-sdk-nano/src/networks/nano/mainnet.ts
  packages/platform-sdk-nano/src/networks/nano/testnet.ts
  packages/platform-sdk-neo/src/networks/neo/mainnet.ts
  packages/platform-sdk-neo/src/networks/neo/testnet.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk-sol/src/networks/sol/mainnet.ts
  packages/platform-sdk-sol/src/networks/sol/testnet.ts
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/networks/trx/testnet.ts
  packages/platform-sdk-xlm/src/networks/xlm/mainnet.ts
  packages/platform-sdk-xlm/src/networks/xlm/testnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/mainnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/testnet.ts
  packages/platform-sdk-zil/src/networks/zil/mainnet.ts
  packages/platform-sdk-zil/src/networks/zil/testnet.ts
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
  packages/platform-sdk/src/coins/network-repository.test.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1530 release: 7.0.33
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1531 fix(trx): throw an exception if sending to the wallet owner
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk/src/exceptions.ts
Labels: Domain: SDK, Domain: TRX

#1532 fix(trx): normalise amounts
  packages/platform-sdk-trx/src/dto/signed-transaction.ts
  packages/platform-sdk-trx/src/dto/transaction.test.ts
  packages/platform-sdk-trx/src/services/transaction.test.ts
  packages/platform-sdk-trx/src/services/transaction.ts
Labels: Domain: TRX

#1535 docs(trx): fix transaction amount
  examples/src/examples/transfer-trx.ts
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk/src/coins/network.models.ts
Labels: Domain: Profiles, Domain: SDK

#1536 test(profiles): update fixtures
  packages/platform-sdk-profiles/test/fixtures/network.json
Labels: Domain: Profiles

#1534 refactor(profiles): handle profile validations from `IProfileValidator`
  packages/platform-sdk-profiles/src/contracts/profiles/profile.validator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.validator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.validator.ts
Labels: Domain: Profiles

#1537 feat(trx): message signing
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/networks/trx/testnet.ts
  packages/platform-sdk-trx/src/services/message.test.ts
  packages/platform-sdk-trx/src/services/message.ts
Labels: Domain: TRX

#1538 fix(profiles): manually serialize wallet balance
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/__snapshots__/serialiser.test.ts.snap
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
Labels: Domain: Profiles

#1542 refactor: always use manifest peers
  packages/platform-sdk-ada/src/services/client.ts
  packages/platform-sdk-atom/src/services/client.ts
  packages/platform-sdk-avax/src/services/client.ts
  packages/platform-sdk-btc/src/services/client.ts
  packages/platform-sdk-btc/src/services/transaction.ts
  packages/platform-sdk-egld/src/services/client.ts
  packages/platform-sdk-egld/src/services/transaction.ts
  packages/platform-sdk-eos/src/services/client.ts
  packages/platform-sdk-eos/src/services/transaction.ts
  packages/platform-sdk-eth/src/services/client.ts
  packages/platform-sdk-lsk/src/services/client.ts
  packages/platform-sdk-luna/src/services/client.ts
  packages/platform-sdk-luna/src/services/transaction.ts
  packages/platform-sdk-sol/src/services/client.ts
  packages/platform-sdk-sol/src/services/transaction.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-trx/src/services/message.test.ts
  packages/platform-sdk-trx/src/services/message.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-xrp/src/services/client.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk-zil/src/zilliqa.ts
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: SOL, Domain: TRX, Domain: XRP, Domain: ZIL

#1548 fix(xlm): isMultiSignatureRegistration returns false
  packages/platform-sdk-ada/src/services/client.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-xlm/src/dto/signed-transaction.ts
Labels: Domain: ADA, Domain: Profiles, Domain: XLM

#1551 refactor(xrp): use JSON-RPC instead of WebSocket
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-xrp/src/dto/transaction.test.ts
  packages/platform-sdk-xrp/src/dto/transaction.ts
  packages/platform-sdk-xrp/src/dto/wallet.test.ts
  packages/platform-sdk-xrp/src/dto/wallet.ts
  packages/platform-sdk-xrp/src/networks/xrp/mainnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/testnet.ts
  packages/platform-sdk-xrp/src/services/client.helpers.ts
  packages/platform-sdk-xrp/src/services/client.test.ts
  packages/platform-sdk-xrp/src/services/client.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk-xrp/test/fixtures/client/broadcast-failure.json
  packages/platform-sdk-xrp/test/fixtures/client/broadcast.json
  packages/platform-sdk-xrp/test/fixtures/client/sign.json
  packages/platform-sdk-xrp/test/fixtures/client/transaction.json
  packages/platform-sdk-xrp/test/fixtures/client/transactions.json
  packages/platform-sdk-xrp/test/fixtures/client/wallet.json
  packages/platform-sdk-xrp/test/helpers.ts
Labels: Domain: XRP

#1553 test(profiles): add missing coverage
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.status.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
Labels: Domain: Profiles

#1554 refactor: introduce `AbstractSignatoryService`
  packages/platform-sdk-ada/src/services/signatory.ts
  packages/platform-sdk-ark/src/services/signatory.ts
  packages/platform-sdk-atom/src/services/signatory.ts
  packages/platform-sdk-avax/src/services/signatory.ts
  packages/platform-sdk-btc/src/services/signatory.ts
  packages/platform-sdk-dot/src/services/signatory.ts
  packages/platform-sdk-egld/src/services/signatory.ts
  packages/platform-sdk-eos/src/services/signatory.ts
  packages/platform-sdk-eth/src/services/signatory.ts
  packages/platform-sdk-lsk/src/services/signatory.ts
  packages/platform-sdk-luna/src/services/signatory.ts
  packages/platform-sdk-nano/src/services/signatory.ts
  packages/platform-sdk-neo/src/services/signatory.ts
  packages/platform-sdk-sol/src/services/signatory.ts
  packages/platform-sdk-trx/src/services/signatory.ts
  packages/platform-sdk-xlm/src/services/signatory.ts
  packages/platform-sdk-xrp/src/services/signatory.ts
  packages/platform-sdk-zil/src/services/signatory.ts
  packages/platform-sdk/src/signatories/abstract-signatory-service.ts
  packages/platform-sdk/src/signatories/index.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1557 feat(egld): implement `MessageService`
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-egld/src/services/message.test.ts
  packages/platform-sdk-egld/src/services/message.ts
  packages/platform-sdk-egld/src/services/transaction.ts
Labels: Domain: EGLD

#1559 release: 8.0.0
  CHANGELOG-7.X.md
  CHANGELOG.md
  UPGRADE.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1560 chore: merge upgrade guides
  UPGRADING.md
  packages/platform-sdk-zil/package.json
Labels: Domain: ZIL

#1562 refactor(profiles): expose `SignatoryService`
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1566 refactor: indicate available signing methods for transactions
  packages/platform-sdk-ada/src/networks/ada/mainnet.ts
  packages/platform-sdk-ada/src/networks/ada/testnet.ts
  packages/platform-sdk-ark/src/networks/ark/devnet.ts
  packages/platform-sdk-ark/src/networks/ark/mainnet.ts
  packages/platform-sdk-ark/src/networks/compendia/mainnet.ts
  packages/platform-sdk-atom/src/networks/cosmos/mainnet.ts
  packages/platform-sdk-atom/src/networks/cosmos/testnet.ts
  packages/platform-sdk-avax/src/networks/avax/mainnet.ts
  packages/platform-sdk-avax/src/networks/avax/testnet.ts
  packages/platform-sdk-btc/src/networks/btc/livenet.ts
  packages/platform-sdk-btc/src/networks/btc/testnet.ts
  packages/platform-sdk-dot/src/networks/dot/mainnet.ts
  packages/platform-sdk-dot/src/networks/ksm/mainnet.ts
  packages/platform-sdk-egld/src/networks/egld/mainnet.ts
  packages/platform-sdk-egld/src/networks/egld/testnet.ts
  packages/platform-sdk-eos/src/networks/bos/mainnet.ts
  packages/platform-sdk-eos/src/networks/eos/mainnet.ts
  packages/platform-sdk-eos/src/networks/eos/testnet.ts
  packages/platform-sdk-eos/src/networks/meetone/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/testnet.ts
  packages/platform-sdk-eos/src/networks/wax/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/testnet.ts
  packages/platform-sdk-eth/src/networks/eth/goerli.ts
  packages/platform-sdk-eth/src/networks/eth/kovan.ts
  packages/platform-sdk-eth/src/networks/eth/mainnet.ts
  packages/platform-sdk-eth/src/networks/eth/rinkeby.ts
  packages/platform-sdk-eth/src/networks/eth/ropsten.ts
  packages/platform-sdk-lsk/src/networks/lsk/mainnet.ts
  packages/platform-sdk-lsk/src/networks/lsk/testnet.ts
  packages/platform-sdk-luna/src/networks/luna/mainnet.ts
  packages/platform-sdk-luna/src/networks/luna/testnet.ts
  packages/platform-sdk-neo/src/networks/neo/mainnet.ts
  packages/platform-sdk-neo/src/networks/neo/testnet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-sol/src/networks/sol/mainnet.ts
  packages/platform-sdk-sol/src/networks/sol/testnet.ts
  packages/platform-sdk-trx/src/networks/trx/mainnet.ts
  packages/platform-sdk-trx/src/networks/trx/testnet.ts
  packages/platform-sdk-xlm/src/networks/xlm/mainnet.ts
  packages/platform-sdk-xlm/src/networks/xlm/testnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/mainnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/testnet.ts
  packages/platform-sdk-zil/src/networks/zil/mainnet.ts
  packages/platform-sdk-zil/src/networks/zil/testnet.ts
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
  packages/platform-sdk/src/coins/network-repository.test.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1558 fix(profiles): persist profiles before persisting environment
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/environment/env.ts
Labels: Domain: Profiles

#1567 fix(xlm): proper way to fetch payments
  examples/src/examples/sign-message-xlm.ts
  examples/src/examples/transfer-ada.ts
  examples/src/examples/transfer-ark.ts
  examples/src/examples/transfer-trx.ts
  examples/src/examples/transfer-xlm.ts
  packages/platform-sdk-xlm/src/services/client.test.ts
  packages/platform-sdk-xlm/src/services/client.ts
Labels: Domain: XLM

#1570 fix(xlm): respect BIP44 account index option
  packages/platform-sdk-xlm/src/services/identity/address.ts
  packages/platform-sdk-xlm/src/services/identity/keys.ts
  packages/platform-sdk-xlm/src/services/identity/private-key.ts
  packages/platform-sdk-xlm/src/services/identity/public-key.ts
  packages/platform-sdk-xlm/src/services/message.ts
Labels: Domain: XLM

#1573 refactor(profiles): implement `IProfile#hasAcceptedManualInstallationDisclaimer`
  packages/platform-sdk-profiles/src/contracts/profiles/profile.enum.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
Labels: Domain: Profiles

#1575 release: 8.1.0
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1576 fix(egld): pick any of the given addresses for wallet details
  packages/platform-sdk-egld/src/services/client.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk/src/helpers.test.ts
  packages/platform-sdk/src/helpers.ts
Labels: Domain: EGLD, Domain: SDK, Domain: TRX

#1577 release: 8.1.1
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1578 refactor: streamline `LinkService` implementation
  packages/platform-sdk-ada/src/services/link.test.ts
  packages/platform-sdk-ada/src/services/link.ts
  packages/platform-sdk-ark/src/services/link.test.ts
  packages/platform-sdk-ark/src/services/link.ts
  packages/platform-sdk-atom/src/services/link.test.ts
  packages/platform-sdk-atom/src/services/link.ts
  packages/platform-sdk-avax/src/services/link.test.ts
  packages/platform-sdk-avax/src/services/link.ts
  packages/platform-sdk-btc/src/services/link.test.ts
  packages/platform-sdk-btc/src/services/link.ts
  packages/platform-sdk-dot/src/services/link.test.ts
  packages/platform-sdk-dot/src/services/link.ts
  packages/platform-sdk-egld/src/services/link.test.ts
  packages/platform-sdk-egld/src/services/link.ts
  packages/platform-sdk-eos/src/services/link.test.ts
  packages/platform-sdk-eos/src/services/link.ts
  packages/platform-sdk-eth/src/dto/wallet.test.ts
  packages/platform-sdk-eth/src/services/link.test.ts
  packages/platform-sdk-eth/src/services/link.ts
  packages/platform-sdk-lsk/src/services/link.test.ts
  packages/platform-sdk-lsk/src/services/link.ts
  packages/platform-sdk-luna/src/networks/luna/mainnet.ts
  packages/platform-sdk-luna/src/networks/luna/testnet.ts
  packages/platform-sdk-luna/src/services/link.test.ts
  packages/platform-sdk-luna/src/services/link.ts
  packages/platform-sdk-luna/test/helpers.ts
  packages/platform-sdk-nano/src/services/link.test.ts
  packages/platform-sdk-nano/src/services/link.ts
  packages/platform-sdk-neo/src/services/link.test.ts
  packages/platform-sdk-neo/src/services/link.ts
  packages/platform-sdk-sol/src/services/link.test.ts
  packages/platform-sdk-sol/src/services/link.ts
  packages/platform-sdk-trx/src/services/link.test.ts
  packages/platform-sdk-trx/src/services/link.ts
  packages/platform-sdk-xlm/src/dto/wallet.test.ts
  packages/platform-sdk-xlm/src/services/link.test.ts
  packages/platform-sdk-xlm/src/services/link.ts
  packages/platform-sdk-xrp/src/services/link.test.ts
  packages/platform-sdk-xrp/src/services/link.ts
  packages/platform-sdk-zil/src/services/link.test.ts
  packages/platform-sdk-zil/src/services/link.ts
  packages/platform-sdk/src/index.ts
  packages/platform-sdk/src/services/index.ts
  packages/platform-sdk/src/services/link.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1579 fix(profiles): update wallet wif jsdoc
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
Labels: Domain: Profiles

#1580 fix(sdk): match coin transaction enums with `TransactionMethod` type
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
  packages/platform-sdk/src/coins/network.test.ts
Labels: Domain: SDK

#1582 refactor: remove `IContactAddress#name`
  packages/platform-sdk-profiles/src/contracts/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.test.ts
Labels: Domain: Profiles

#1583 refactor(sdk): further DRY the `LinkService`
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ada/src/services/link.ts
  packages/platform-sdk-ark/src/services/link.ts
  packages/platform-sdk-atom/src/services/link.ts
  packages/platform-sdk-avax/src/services/link.ts
  packages/platform-sdk-btc/src/services/link.ts
  packages/platform-sdk-dot/src/services/link.ts
  packages/platform-sdk-egld/src/services/link.ts
  packages/platform-sdk-eos/src/services/link.ts
  packages/platform-sdk-eth/src/services/link.ts
  packages/platform-sdk-lsk/src/services/link.ts
  packages/platform-sdk-luna/src/services/link.ts
  packages/platform-sdk-nano/src/services/link.ts
  packages/platform-sdk-neo/src/services/link.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-sol/src/services/link.ts
  packages/platform-sdk-trx/src/services/link.ts
  packages/platform-sdk-xlm/src/services/link.ts
  packages/platform-sdk-xrp/src/services/link.ts
  packages/platform-sdk-zil/src/services/link.ts
  packages/platform-sdk/package.json
  packages/platform-sdk/src/services/link.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1584 refactor(profiles): mark mnemonic wallets with specific import type
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.enum.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1585 fix(sdk): expose import methods for network
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: SDK

#1587 fix(profiles): remove contact address name validation
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.validator.ts
Labels: Domain: Profiles

#1588 release: 8.1.20
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1591 release: 8.1.21
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1592 feat(eth): add BNB networks
  packages/platform-sdk-eth/src/networks/bnb/mainnet.ts
  packages/platform-sdk-eth/src/networks/bnb/testnet.ts
Labels: Domain: ETH

#1596 refactor(profiles): store derivation path if available
  packages/platform-sdk-ark/src/services/identity/index.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.enum.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.validator.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/__snapshots__/serialiser.test.ts.snap
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/test/fixtures/env-storage.json
Labels: Domain: ARK, Domain: Profiles

#1598 feat: include tokens in network manifest
  packages/platform-sdk-eth/src/networks/eth/mainnet.tokens.json
  packages/platform-sdk-eth/src/networks/eth/mainnet.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: ETH, Domain: Profiles, Domain: SDK

#1599 refactor(sdk): normalise signing and confirmation keys
  packages/platform-sdk/src/signatories/abstract-double-signatory.ts
  packages/platform-sdk/src/signatories/abstract-signatory.ts
Labels: Domain: SDK

#1602 feat(support): add `BigNumber#sum` method
  packages/platform-sdk-support/src/bignumber.test.ts
  packages/platform-sdk-support/src/bignumber.ts
Labels: Domain: Support

#1601 chore(btc-indexer) more meaningful variable names
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/tx-parsing-helpers.test.ts
  packages/platform-sdk-btc-indexer/src/tx-parsing-helpers.ts
  packages/platform-sdk-btc-indexer/src/types.ts
  packages/platform-sdk-support/src/bignumber.ts
Labels: Domain: BTC/Indexer, Domain: Support

#1603 refactor: introduce `AbstractIdentityService`
  packages/platform-sdk-ada/src/services/identity/index.ts
  packages/platform-sdk-ark/src/services/identity/address.test.ts
  packages/platform-sdk-ark/src/services/identity/index.ts
  packages/platform-sdk-ark/src/services/identity/keys.test.ts
  packages/platform-sdk-ark/src/services/identity/private-key.test.ts
  packages/platform-sdk-ark/src/services/identity/public-key.test.ts
  packages/platform-sdk-ark/src/services/identity/wif.test.ts
  packages/platform-sdk-ark/test/helpers.ts
  packages/platform-sdk-atom/src/services/identity/index.ts
  packages/platform-sdk-avax/src/services/identity/index.ts
  packages/platform-sdk-btc/src/services/identity/index.ts
  packages/platform-sdk-dot/src/services/identity/index.ts
  packages/platform-sdk-egld/src/services/identity/index.ts
  packages/platform-sdk-eos/src/services/identity/index.ts
  packages/platform-sdk-eth/src/services/identity/index.ts
  packages/platform-sdk-lsk/src/services/identity/index.ts
  packages/platform-sdk-luna/src/services/identity/index.ts
  packages/platform-sdk-nano/src/services/identity/index.ts
  packages/platform-sdk-neo/src/services/identity/index.ts
  packages/platform-sdk-sol/src/services/identity/index.ts
  packages/platform-sdk-trx/src/services/identity/index.ts
  packages/platform-sdk-xlm/src/services/identity/index.ts
  packages/platform-sdk-xrp/src/services/identity/index.ts
  packages/platform-sdk-zil/src/services/identity/index.ts
  packages/platform-sdk/src/services/identity.ts
  packages/platform-sdk/src/services/index.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1604 release: 8.1.29
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1605 refactor: remove leftover methods from interfaces
  packages/platform-sdk-ada/src/networks/shared.ts
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-ada/src/services/client.ts
  packages/platform-sdk-ark/src/networks/shared.ts
  packages/platform-sdk-ark/src/services/client.test.ts
  packages/platform-sdk-ark/src/services/client.ts
  packages/platform-sdk-atom/src/networks/shared.ts
  packages/platform-sdk-atom/src/services/client.test.ts
  packages/platform-sdk-atom/src/services/client.ts
  packages/platform-sdk-avax/src/networks/shared.ts
  packages/platform-sdk-avax/src/services/client.ts
  packages/platform-sdk-btc/src/networks/shared.ts
  packages/platform-sdk-btc/src/services/client.ts
  packages/platform-sdk-dot/src/networks/shared.ts
  packages/platform-sdk-dot/src/services/client.ts
  packages/platform-sdk-egld/src/networks/shared.ts
  packages/platform-sdk-egld/src/services/client.ts
  packages/platform-sdk-eos/src/networks/shared.ts
  packages/platform-sdk-eos/src/services/client.ts
  packages/platform-sdk-eth/src/networks/shared.ts
  packages/platform-sdk-eth/src/services/client.test.ts
  packages/platform-sdk-eth/src/services/client.ts
  packages/platform-sdk-json-rpc/src/methods/client.ts
  packages/platform-sdk-lsk/src/networks/shared.ts
  packages/platform-sdk-lsk/src/services/client.ts
  packages/platform-sdk-luna/src/networks/shared.ts
  packages/platform-sdk-luna/src/services/client.ts
  packages/platform-sdk-nano/src/networks/shared.ts
  packages/platform-sdk-nano/src/services/client.ts
  packages/platform-sdk-neo/src/networks/shared.ts
  packages/platform-sdk-neo/src/services/client.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-sol/src/networks/shared.ts
  packages/platform-sdk-sol/src/services/client.ts
  packages/platform-sdk-trx/src/networks/shared.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-xlm/src/networks/shared.ts
  packages/platform-sdk-xlm/src/services/client.ts
  packages/platform-sdk-xrp/src/networks/shared.ts
  packages/platform-sdk-xrp/src/services/client.ts
  packages/platform-sdk-zil/src/networks/shared.ts
  packages/platform-sdk-zil/src/services/client.ts
  packages/platform-sdk/src/coins/enums.test.ts
  packages/platform-sdk/src/coins/enums.ts
  packages/platform-sdk/src/coins/network-repository.test.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/contracts/coins/client.ts
  packages/platform-sdk/src/contracts/coins/peer.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: JSPN-RPC, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1606 refactor(profiles): strip unknown keys out of environment and profile data
  packages/platform-sdk-profiles/src/environment/env.ts
Labels: Domain: Profiles

#1607 release: 8.1.30
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.validator.ts
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1600 perf(btc-indexer): better handling of parallel fetching and sequential processing
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/index.ts
Labels: Domain: BTC/Indexer

#1608 fix(ark): apply signing key for double signatures
  packages/platform-sdk-ark/src/services/transaction.ts
Labels: Domain: ARK

#1572 refactor(btc-indexer): use `prisma` as database layer
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/prisma/schema.prisma
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/index.ts
Labels: Domain: BTC/Indexer

#1520 feat(nano): nano transactions & broadcasts
  .github/workflows/ci.yml
  packages/platform-sdk-nano/src/services/client.test.ts
  packages/platform-sdk-nano/src/services/client.ts
  packages/platform-sdk-nano/src/services/identity/address.ts
  packages/platform-sdk-nano/src/services/identity/helpers.ts
  packages/platform-sdk-nano/src/services/identity/keys.ts
  packages/platform-sdk-nano/src/services/identity/private-key.ts
  packages/platform-sdk-nano/src/services/identity/public-key.ts
  packages/platform-sdk-nano/src/services/rpc.ts
  packages/platform-sdk-nano/src/services/transaction.test.ts
  packages/platform-sdk-nano/src/services/transaction.ts
  packages/platform-sdk-nano/test/fixtures/client/account-info.json
  packages/platform-sdk-nano/test/fixtures/identity.ts
Labels: ci

#1614 refactor: introduce abstract transaction service
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-atom/src/services/transaction.ts
  packages/platform-sdk-avax/src/services/transaction.ts
  packages/platform-sdk-btc/src/services/transaction.ts
  packages/platform-sdk-dot/src/services/transaction.ts
  packages/platform-sdk-egld/src/services/transaction.ts
  packages/platform-sdk-eos/src/services/transaction.ts
  packages/platform-sdk-eth/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-luna/src/services/transaction.ts
  packages/platform-sdk-nano/src/services/transaction.ts
  packages/platform-sdk-neo/src/services/transaction.ts
  packages/platform-sdk-sol/src/services/transaction.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-xlm/src/services/transaction.ts
  packages/platform-sdk-xrp/src/services/identity/address.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk-zil/src/services/transaction.ts
  packages/platform-sdk/src/services/identity/address.ts
  packages/platform-sdk/src/services/identity/extended-address.ts
  packages/platform-sdk/src/services/identity/keys.ts
  packages/platform-sdk/src/services/identity/private-key.ts
  packages/platform-sdk/src/services/identity/public-key.ts
  packages/platform-sdk/src/services/identity/wif.ts
  packages/platform-sdk/src/services/index.ts
  packages/platform-sdk/src/services/transaction.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1615 test: change `supported` assertions to `implemented`
  packages/platform-sdk-ada/src/services/identity/address.test.ts
  packages/platform-sdk-ada/src/services/identity/keys.test.ts
  packages/platform-sdk-ada/src/services/identity/private-key.test.ts
  packages/platform-sdk-ada/src/services/identity/public-key.test.ts
  packages/platform-sdk-ada/src/services/identity/wif.test.ts
  packages/platform-sdk-atom/src/services/identity/address.test.ts
  packages/platform-sdk-atom/src/services/identity/keys.test.ts
  packages/platform-sdk-atom/src/services/identity/private-key.test.ts
  packages/platform-sdk-atom/src/services/identity/public-key.test.ts
  packages/platform-sdk-atom/src/services/identity/wif.test.ts
  packages/platform-sdk-avax/src/services/identity/address.test.ts
  packages/platform-sdk-avax/src/services/identity/keys.test.ts
  packages/platform-sdk-avax/src/services/identity/private-key.test.ts
  packages/platform-sdk-avax/src/services/identity/public-key.test.ts
  packages/platform-sdk-avax/src/services/identity/wif.test.ts
  packages/platform-sdk-btc/src/services/identity/public-key.test.ts
  packages/platform-sdk-dot/src/services/identity/address.test.ts
  packages/platform-sdk-dot/src/services/identity/keys.test.ts
  packages/platform-sdk-dot/src/services/identity/private-key.test.ts
  packages/platform-sdk-dot/src/services/identity/public-key.test.ts
  packages/platform-sdk-dot/src/services/identity/wif.test.ts
  packages/platform-sdk-egld/src/services/identity/address.test.ts
  packages/platform-sdk-egld/src/services/identity/keys.test.ts
  packages/platform-sdk-egld/src/services/identity/private-key.test.ts
  packages/platform-sdk-egld/src/services/identity/public-key.test.ts
  packages/platform-sdk-egld/src/services/identity/wif.test.ts
  packages/platform-sdk-eth/src/services/identity/address.test.ts
  packages/platform-sdk-eth/src/services/identity/keys.test.ts
  packages/platform-sdk-eth/src/services/identity/private-key.test.ts
  packages/platform-sdk-eth/src/services/identity/public-key.test.ts
  packages/platform-sdk-eth/src/services/identity/wif.test.ts
  packages/platform-sdk-lsk/src/services/identity/address.test.ts
  packages/platform-sdk-lsk/src/services/identity/keys.test.ts
  packages/platform-sdk-lsk/src/services/identity/private-key.test.ts
  packages/platform-sdk-lsk/src/services/identity/public-key.test.ts
  packages/platform-sdk-lsk/src/services/identity/wif.test.ts
  packages/platform-sdk-sol/src/services/identity/address.test.ts
  packages/platform-sdk-sol/src/services/identity/keys.test.ts
  packages/platform-sdk-sol/src/services/identity/private-key.test.ts
  packages/platform-sdk-sol/src/services/identity/public-key.test.ts
  packages/platform-sdk-sol/src/services/identity/wif.test.ts
  packages/platform-sdk-zil/src/services/identity/address.test.ts
  packages/platform-sdk-zil/src/services/identity/keys.test.ts
  packages/platform-sdk-zil/src/services/identity/private-key.test.ts
  packages/platform-sdk-zil/src/services/identity/public-key.test.ts
  packages/platform-sdk-zil/src/services/identity/wif.test.ts
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: ETH, Domain: LSK, Domain: SOL, Domain: ZIL

#1617 release: 8.1.38
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1610 fix(btc-indexer): prisma client is not a dev dependency
  .gitignore
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/README.md
  packages/platform-sdk-btc-indexer/bin/run
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/prisma/migrations/20210527154523_initial_migration/migration.sql
  packages/platform-sdk-btc-indexer/prisma/migrations/migration_lock.toml
  packages/platform-sdk-btc-indexer/prisma/schema.prisma
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/index.ts
Labels: Domain: BTC/Indexer

#1624 release: 8.2.0
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1625 fix(btc-indexer): use the schema file relative to running code
  packages/platform-sdk-btc-indexer/src/index.ts
Labels: Domain: BTC/Indexer

#1626 release: 8.2.1
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1627 fix(btc-indexer): specify binary client targets
  packages/platform-sdk-btc-indexer/prisma/schema.prisma
Labels: Domain: BTC/Indexer

#1629 fix(btc): use `p2sh` for BIP49
  packages/platform-sdk-btc/src/services/identity/utils.ts
  packages/platform-sdk-btc/test/fixtures/identity.ts
Labels: Domain: BTC

#1630 refactor(btc): respect BIP44/49/84 settings for `AddressService#fromMnemonic`
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-btc/src/services/identity/address.factory.ts
  packages/platform-sdk-btc/src/services/identity/address.test.ts
  packages/platform-sdk-btc/src/services/identity/address.ts
  packages/platform-sdk-btc/src/services/identity/index.ts
  packages/platform-sdk-btc/src/services/identity/utils.ts
  packages/platform-sdk-btc/src/services/wallet-discovery.ts
  packages/platform-sdk-btc/test/fixtures/identity.ts
Labels: Domain: BTC

#1631 refactor(btc): use `bitcoinjs-lib` where possible
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-btc/src/services/identity/address.factory.ts
  packages/platform-sdk-btc/src/services/identity/address.ts
  packages/platform-sdk-btc/src/services/identity/helpers.ts
  packages/platform-sdk-btc/src/services/identity/keys.ts
  packages/platform-sdk-btc/src/services/identity/private-key.ts
  packages/platform-sdk-btc/src/services/identity/public-key.ts
  packages/platform-sdk-btc/src/services/message.ts
  packages/platform-sdk-btc/src/services/wallet-discovery.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
Labels: Domain: BTC, Domain: Profiles

#1632 feat(crypto): implement `BIP44#stringify`
  packages/platform-sdk-crypto/src/bip44.test.ts
  packages/platform-sdk-crypto/src/bip44.ts
Labels: Domain: Crypto

#1633 refactor: return BIP44/49/84 derivation paths
  packages/platform-sdk-ada/src/services/identity/address.test.ts
  packages/platform-sdk-atom/src/services/identity/address.test.ts
  packages/platform-sdk-atom/src/services/identity/address.ts
  packages/platform-sdk-atom/src/services/identity/keys.test.ts
  packages/platform-sdk-atom/src/services/identity/keys.ts
  packages/platform-sdk-avax/src/services/helpers.ts
  packages/platform-sdk-avax/src/services/identity/address.test.ts
  packages/platform-sdk-avax/src/services/identity/address.ts
  packages/platform-sdk-avax/src/services/identity/keys.test.ts
  packages/platform-sdk-avax/src/services/identity/keys.ts
  packages/platform-sdk-avax/src/services/identity/private-key.test.ts
  packages/platform-sdk-avax/src/services/identity/private-key.ts
  packages/platform-sdk-avax/src/services/identity/public-key.test.ts
  packages/platform-sdk-avax/src/services/identity/public-key.ts
  packages/platform-sdk-avax/src/services/message.ts
  packages/platform-sdk-avax/src/services/transaction.ts
  packages/platform-sdk-btc/src/services/identity/address.factory.ts
  packages/platform-sdk-btc/src/services/identity/address.test.ts
  packages/platform-sdk-crypto/src/bip44.test.ts
  packages/platform-sdk-crypto/src/bip44.ts
  packages/platform-sdk-eth/src/services/identity/address.test.ts
  packages/platform-sdk-neo/src/services/identity/address.test.ts
  packages/platform-sdk-trx/src/services/identity/address.test.ts
  packages/platform-sdk-trx/src/services/identity/address.ts
  packages/platform-sdk-trx/src/services/identity/keys.test.ts
  packages/platform-sdk-trx/src/services/identity/keys.ts
  packages/platform-sdk-trx/src/services/identity/private-key.test.ts
  packages/platform-sdk-trx/src/services/identity/private-key.ts
  packages/platform-sdk-trx/src/services/identity/public-key.test.ts
  packages/platform-sdk-trx/src/services/identity/public-key.ts
  packages/platform-sdk-trx/src/services/identity/wif.test.ts
  packages/platform-sdk-trx/src/services/identity/wif.ts
  packages/platform-sdk-xlm/src/services/identity/address.test.ts
  packages/platform-sdk-xlm/src/services/identity/address.ts
  packages/platform-sdk-xlm/src/services/identity/keys.ts
  packages/platform-sdk-xlm/src/services/identity/private-key.ts
  packages/platform-sdk-xlm/src/services/identity/public-key.ts
  packages/platform-sdk-xrp/src/services/identity/address.ts
  packages/platform-sdk-xrp/src/services/identity/keys.ts
  packages/platform-sdk-xrp/src/services/identity/private-key.ts
  packages/platform-sdk-xrp/src/services/identity/public-key.ts
  packages/platform-sdk-xrp/src/services/identity/wif.ts
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: Crypto, Domain: ETH, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP

#1635 refactor(ark): return more meaningful broadcasting errors
  packages/platform-sdk-ark/src/services/client.errors.test.ts
  packages/platform-sdk-ark/src/services/client.errors.ts
  packages/platform-sdk-ark/src/services/client.test.ts
  packages/platform-sdk-ark/src/services/client.ts
Labels: Domain: ARK

#1634 refactor(xlm): remove `stellar-hd-wallet` dependency
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xlm/src/services/identity/address.test.ts
  packages/platform-sdk-xlm/src/services/identity/address.ts
  packages/platform-sdk-xlm/src/services/identity/helpers.ts
  packages/platform-sdk-xlm/src/services/identity/keys.test.ts
  packages/platform-sdk-xlm/src/services/identity/keys.ts
  packages/platform-sdk-xlm/src/services/identity/private-key.test.ts
  packages/platform-sdk-xlm/src/services/identity/private-key.ts
  packages/platform-sdk-xlm/src/services/identity/public-key.test.ts
  packages/platform-sdk-xlm/src/services/identity/public-key.ts
  packages/platform-sdk-xlm/src/services/identity/wif.ts
Labels: Domain: XLM

#1636 test(crypto): increase test coverage
  packages/platform-sdk-crypto/src/base58.test.ts
  packages/platform-sdk-crypto/src/base58.ts
  packages/platform-sdk-crypto/src/base64.test.ts
  packages/platform-sdk-crypto/src/base64.ts
  packages/platform-sdk-crypto/src/bip32.test.ts
  packages/platform-sdk-crypto/src/bip38.test.ts
  packages/platform-sdk-crypto/src/hash.test.ts
Labels: Domain: Crypto

#1638 chore: sort package.json fields
  examples/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-xlm/package.json
Labels: Domain: BTC, Domain: BTC/Indexer, Domain: XLM
