Repository ArkEcosystem/platform-sdk, pull requests merged in 2021-06, with the labels that each got.

#1647 fix: explorer links
  packages/platform-sdk-ada/src/networks/ada/mainnet.ts
  packages/platform-sdk-ada/src/networks/ada/testnet.ts
  packages/platform-sdk-atom/src/networks/atom/mainnet.ts
  packages/platform-sdk-atom/src/networks/atom/testnet.ts
  packages/platform-sdk-avax/src/networks/avax/mainnet.ts
  packages/platform-sdk-avax/src/networks/avax/testnet.ts
  packages/platform-sdk-btc/src/networks/btc/livenet.ts
  packages/platform-sdk-btc/src/networks/btc/testnet.ts
  packages/platform-sdk-eos/src/networks/bos/mainnet.ts
  packages/platform-sdk-eos/src/networks/eos/mainnet.ts
  packages/platform-sdk-eos/src/networks/eos/testnet.ts
  packages/platform-sdk-eos/src/networks/meetone/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/testnet.ts
  packages/platform-sdk-eos/src/networks/wax/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/testnet.ts
  packages/platform-sdk-eth/src/networks/eth/goerli.ts
  packages/platform-sdk-eth/src/networks/eth/kovan.ts
  packages/platform-sdk-eth/src/networks/eth/mainnet.ts
  packages/platform-sdk-eth/src/networks/eth/rinkeby.ts
  packages/platform-sdk-eth/src/networks/eth/ropsten.ts
  packages/platform-sdk-lsk/src/networks/lsk/mainnet.ts
  packages/platform-sdk-lsk/src/networks/lsk/testnet.ts
  packages/platform-sdk-luna/src/networks/luna/mainnet.ts
  packages/platform-sdk-luna/src/networks/luna/testnet.ts
  packages/platform-sdk-neo/src/networks/neo/mainnet.ts
  packages/platform-sdk-neo/src/networks/neo/testnet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-sol/src/networks/sol/mainnet.ts
  packages/platform-sdk-sol/src/networks/sol/testnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/mainnet.ts
  packages/platform-sdk-xrp/src/networks/xrp/testnet.ts
  packages/platform-sdk/src/helpers.test.ts
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: XRP

#1648 refactor(sdk): make coin and config private and read-only
  packages/platform-sdk-ark/src/service-provider.ts
  packages/platform-sdk-ark/src/services/message.test.ts
  packages/platform-sdk-ark/test/helpers.ts
  packages/platform-sdk/src/ioc/service-provider.ts
Labels: Domain: ARK, Domain: SDK

#1649 refactor(profiles): store required wallet information as data
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.enum.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.validator.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/setting-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/__snapshots__/serialiser.test.ts.snap
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/test/fixtures/env-storage.json
Labels: Domain: Profiles

#1621 refactor: normalize input amounts
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-ada/src/services/transaction.test.ts
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-ark/src/services/transaction.test.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-avax/src/services/transaction.test.ts
  packages/platform-sdk-avax/src/services/transaction.ts
  packages/platform-sdk-btc/src/services/transaction.ts
  packages/platform-sdk-dot/src/services/identity/address.ts
  packages/platform-sdk-dot/src/services/transaction.test.ts
  packages/platform-sdk-dot/src/services/transaction.ts
  packages/platform-sdk-egld/src/services/identity/address-list.ts
  packages/platform-sdk-egld/src/services/identity/address.ts
  packages/platform-sdk-egld/src/services/identity/keys.ts
  packages/platform-sdk-egld/src/services/identity/private-key.ts
  packages/platform-sdk-egld/src/services/identity/public-key.ts
  packages/platform-sdk-egld/src/services/identity/wif.ts
  packages/platform-sdk-egld/src/services/transaction.ts
  packages/platform-sdk-eos/src/services/transaction.ts
  packages/platform-sdk-eth/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-luna/src/services/transaction.ts
  packages/platform-sdk-nano/src/dto/signed-transaction.ts
  packages/platform-sdk-nano/src/services/transaction.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.test.ts
  packages/platform-sdk-sol/src/services/transaction.ts
  packages/platform-sdk-trx/src/dto/signed-transaction.test.ts
  packages/platform-sdk-trx/src/dto/signed-transaction.ts
  packages/platform-sdk-trx/src/services/transaction.test.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-xlm/src/dto/signed-transaction.ts
  packages/platform-sdk-xlm/src/services/client.test.ts
  packages/platform-sdk-xlm/src/services/transaction.test.ts
  packages/platform-sdk-xlm/src/services/transaction.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk-zil/src/services/client.ts
  packages/platform-sdk-zil/src/services/identity/address.test.ts
  packages/platform-sdk-zil/src/services/identity/index.ts
  packages/platform-sdk-zil/src/services/identity/keys.test.ts
  packages/platform-sdk-zil/src/services/identity/private-key.test.ts
  packages/platform-sdk-zil/src/services/identity/public-key.test.ts
  packages/platform-sdk-zil/src/services/transaction.test.ts
  packages/platform-sdk-zil/src/services/transaction.ts
  packages/platform-sdk-zil/src/zilliqa.ts
  packages/platform-sdk-zil/test/config.ts
Labels: Domain: ADA, Domain: ARK, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: Profiles, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1650 refactor(profiles): persist profile data only if marked as dirty
  packages/platform-sdk-dot/src/services/transaction.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.status.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
Labels: Domain: DOT, Domain: Profiles

#1652 fix(ark): store musig timestamp
  packages/platform-sdk-ark/src/services/multi-signature.ts
Labels: Domain: ARK

#1654 fix(btc): only mark BIP84 as default
  packages/platform-sdk-btc/src/networks/shared.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
Labels: Domain: BTC

#1657 refactor(ark): directly bind crypto and status values
  packages/platform-sdk-ark/src/contracts.ts
  packages/platform-sdk-ark/src/service-provider.ts
  packages/platform-sdk-ark/src/services/helpers.ts
  packages/platform-sdk-ark/src/services/identity/index.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-ark/test/helpers.ts
Labels: Domain: ARK

#1659 chore(ark): temporarily revert back to config bindings
  packages/platform-sdk-ark/src/contracts.ts
  packages/platform-sdk-ark/src/service-provider.ts
  packages/platform-sdk-ark/src/services/identity/index.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-ark/test/helpers.ts
  packages/platform-sdk/src/coins/config.ts
Labels: Domain: ARK, Domain: SDK

#1660 test(profiles): cover ARK mainnet import
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/configuration.json
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/cryptoConfiguration.json
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/delegates.json
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/neo-duplicate.json
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/peers.json
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/syncing.json
  packages/platform-sdk-profiles/test/fixtures/coins/ark/mainnet/wallets/AdVSe37niA3uFUPgCgMUH2tMsHF4LpLoiX.json
Labels: Domain: Profiles

#1663 test(sdk): add missing coverage
  packages/platform-sdk/src/coins/config.test.ts
Labels: Domain: SDK

#1662 fix(ada): add transaction to manifest and fix braces
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ada/src/networks/shared.ts
  packages/platform-sdk-ada/src/services/graphql-helpers.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk/src/coins/config.ts
Labels: Domain: ADA, Domain: ARK, Domain: BTC/Indexer, Domain: SDK

#1664 fix(ada): fix manifest for fee all
  packages/platform-sdk-ada/src/networks/shared.ts
Labels: Domain: ADA

#1669 refactor: integrate `examples` into the CLI
  examples/.gitignore
  examples/bin/meow.js
  examples/bin/run
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/examples/sign-message-xlm.ts
  examples/src/helpers.ts
  examples/src/index.ts
  examples/src/storage.ts
  examples/tsconfig.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-cli/src/commands/examples/commands/ada/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/ark/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/create-profile-with-wallets.ts
  packages/platform-sdk-cli/src/commands/examples/commands/open-existing-profile.ts
  packages/platform-sdk-cli/src/commands/examples/commands/trx/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/list-transactions.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/sign-message.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/helpers.ts
  packages/platform-sdk-cli/src/commands/examples/index.ts
  packages/platform-sdk-cli/src/helpers.ts
  packages/platform-sdk-cli/src/index.ts
Labels: Domain: CLI

#1668 refactor(sdk): change `amount`, `fee` and `feeLimit` to type of `number`
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-ada/src/services/transaction.test.ts
  packages/platform-sdk-ada/test/submit-tx.test.ts
  packages/platform-sdk-ark/src/services/transaction.test.ts
  packages/platform-sdk-atom/src/services/client.test.ts
  packages/platform-sdk-atom/src/services/transaction.test.ts
  packages/platform-sdk-avax/src/services/transaction.test.ts
  packages/platform-sdk-cli/src/commands/examples/commands/ada/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/ark/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/trx/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/transfer-funds.ts
  packages/platform-sdk-dot/src/services/transaction.test.ts
  packages/platform-sdk-lsk/src/dto/signed-transaction.test.ts
  packages/platform-sdk-lsk/src/services/client.test.ts
  packages/platform-sdk-lsk/src/services/transaction.test.ts
  packages/platform-sdk-nano/src/services/transaction.test.ts
  packages/platform-sdk-nano/src/services/transaction.ts
  packages/platform-sdk-neo/src/dto/transaction.test.ts
  packages/platform-sdk-neo/src/services/transaction.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.test.ts
  packages/platform-sdk-profiles/src/dto/transaction.test.ts
  packages/platform-sdk-support/src/uri.test.ts
  packages/platform-sdk-support/src/uri.ts
  packages/platform-sdk-trx/src/services/transaction.test.ts
  packages/platform-sdk-xlm/src/services/client.test.ts
  packages/platform-sdk-xlm/src/services/transaction.test.ts
  packages/platform-sdk-zil/src/services/transaction.test.ts
  packages/platform-sdk-zil/src/services/transaction.ts
  packages/platform-sdk/src/contracts/coins/transaction.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: CLI, Domain: DOT, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: Support, Domain: TRX, Domain: XLM, Domain: ZIL

#1671 release: 8.4.0
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1672 refactor(sdk): introduce `AbstractClientService`
  packages/platform-sdk-ada/src/services/client.ts
  packages/platform-sdk-ark/src/services/client.ts
  packages/platform-sdk-atom/src/services/client.ts
  packages/platform-sdk-avax/src/services/client.ts
  packages/platform-sdk-btc/src/services/client.ts
  packages/platform-sdk-dot/src/services/client.ts
  packages/platform-sdk-egld/src/services/client.ts
  packages/platform-sdk-eos/src/services/client.ts
  packages/platform-sdk-eth/src/services/client.ts
  packages/platform-sdk-lsk/src/services/client.ts
  packages/platform-sdk-luna/src/services/client.ts
  packages/platform-sdk-nano/src/services/client.ts
  packages/platform-sdk-neo/src/services/client.ts
  packages/platform-sdk-news-indexer/prisma/generated/index-browser.js
  packages/platform-sdk-news-indexer/prisma/generated/index.d.ts
  packages/platform-sdk-news-indexer/prisma/generated/index.js
  packages/platform-sdk-news-indexer/prisma/generated/runtime/index-browser.d.ts
  packages/platform-sdk-news-indexer/prisma/generated/runtime/index-browser.js
  packages/platform-sdk-news-indexer/prisma/generated/runtime/index.d.ts
  packages/platform-sdk-news-indexer/prisma/generated/runtime/index.js
  packages/platform-sdk-news-server/prisma/generated/index-browser.js
  packages/platform-sdk-news-server/prisma/generated/index.d.ts
  packages/platform-sdk-news-server/prisma/generated/index.js
  packages/platform-sdk-news-server/prisma/generated/runtime/index-browser.d.ts
  packages/platform-sdk-news-server/prisma/generated/runtime/index-browser.js
  packages/platform-sdk-news-server/prisma/generated/runtime/index.d.ts
  packages/platform-sdk-news-server/prisma/generated/runtime/index.js
  packages/platform-sdk-sol/src/services/client.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-xlm/src/services/client.ts
  packages/platform-sdk-xrp/src/services/client.ts
  packages/platform-sdk-zil/src/services/client.ts
  packages/platform-sdk/src/services/client.ts
  packages/platform-sdk/src/services/index.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1673 chore: update manifests
  .eslintignore
  .prettierignore
  packages/platform-sdk-atom/src/networks/shared.ts
  packages/platform-sdk-avax/src/networks/shared.ts
  packages/platform-sdk-btc/src/networks/shared.ts
  packages/platform-sdk-dot/src/networks/shared.ts
  packages/platform-sdk-egld/src/networks/shared.ts
  packages/platform-sdk-eos/src/networks/shared.ts
  packages/platform-sdk-eth/src/networks/shared.ts
  packages/platform-sdk-lsk/src/networks/shared.ts
  packages/platform-sdk-lsk/src/services/fee.ts
  packages/platform-sdk-luna/src/networks/shared.ts
  packages/platform-sdk-nano/src/networks/shared.ts
  packages/platform-sdk-neo/src/networks/shared.ts
  packages/platform-sdk-profiles/src/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-sol/src/networks/shared.ts
  packages/platform-sdk-trx/src/networks/shared.ts
  packages/platform-sdk-xlm/src/networks/shared.ts
  packages/platform-sdk-xrp/src/networks/shared.ts
  packages/platform-sdk-zil/src/networks/shared.ts
Labels: Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1683 chore: update to TypeScript 4.3.2
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ada/src/services/identity/address-list.ts
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1685 fix(support): case insensitive censoring
  packages/platform-sdk-support/src/censor.test.ts
  packages/platform-sdk-support/src/censor.ts
Labels: Domain: Support

#1688 refactor(profiles): split `fromMnemonic` into multiple methods
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/test/helpers.ts
Labels: Domain: Profiles

#1689 release: 8.5.0
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1690 fix(cli): update wallet factory calls
  packages/platform-sdk-cli/src/commands/create-wallet.ts
  packages/platform-sdk-cli/src/commands/examples/commands/ark/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/create-profile-with-wallets.ts
  packages/platform-sdk-cli/src/commands/examples/commands/trx/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/list-transactions.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/sign-message.ts
  packages/platform-sdk-cli/src/commands/examples/commands/xlm/transfer-funds.ts
Labels: Domain: CLI

#1694 refactor(profiles): turn `WalletImportMethod` into a constant with nested keys
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.enum.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1699 feat(profiles): implement `IReadWriteWallet#canWrite`
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1700 release: 8.8.0
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1703 feat(profiles): reset dirty status after persisting profile
  packages/platform-sdk-profiles/src/contracts/profiles/profile.status.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.status.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.status.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
Labels: Domain: Profiles

#1704 chore: adjust slightly substandard uses of object rest spreads
  packages/platform-sdk-ada/test/helpers.ts
  packages/platform-sdk-ark/src/networks/ark/devnet.ts
  packages/platform-sdk-ark/src/networks/compendia/mainnet.ts
  packages/platform-sdk-ark/test/helpers.ts
  packages/platform-sdk-atom/src/networks/atom/testnet.ts
  packages/platform-sdk-atom/test/helpers.ts
  packages/platform-sdk-avax/src/networks/avax/testnet.ts
  packages/platform-sdk-avax/test/helpers.ts
  packages/platform-sdk-btc/test/helpers.ts
  packages/platform-sdk-dot/src/networks/ksm/mainnet.ts
  packages/platform-sdk-dot/test/helpers.ts
  packages/platform-sdk-egld/src/networks/egld/testnet.ts
  packages/platform-sdk-egld/test/helpers.ts
  packages/platform-sdk-eos/src/networks/bos/mainnet.ts
  packages/platform-sdk-eos/src/networks/meetone/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/mainnet.ts
  packages/platform-sdk-eos/src/networks/telos/testnet.ts
  packages/platform-sdk-eos/src/networks/wax/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/mainnet.ts
  packages/platform-sdk-eos/src/networks/worbli/testnet.ts
  packages/platform-sdk-eth/test/helpers.ts
  packages/platform-sdk-intl/src/numeral.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-lsk/test/helpers.ts
  packages/platform-sdk-luna/src/networks/luna/testnet.ts
  packages/platform-sdk-luna/test/helpers.ts
  packages/platform-sdk-nano/test/helpers.ts
  packages/platform-sdk-neo/test/helpers.ts
  packages/platform-sdk-sol/test/helpers.ts
  packages/platform-sdk-trx/test/helpers.ts
  packages/platform-sdk-xlm/src/services/client.ts
  packages/platform-sdk-xrp/test/helpers.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: INTL, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP

#1709 fix(json-rpc): use signatory instance to sign transactions
  packages/platform-sdk-json-rpc/src/methods/message.ts
  packages/platform-sdk-json-rpc/src/methods/transaction.ts
Labels: Domain: JSPN-RPC

#1715 release: 8.8.6
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1716 ci: install `rimraf` as a global dependency
  .github/workflows/ci.yml
Labels: ci

#1714 feat(lisk): derive addresses and public keys from ledger
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-lsk/src/networks/shared.ts
  packages/platform-sdk-lsk/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-lsk/src/services/ledger.test.ts
  packages/platform-sdk-lsk/src/services/ledger.ts
Labels: Domain: LSK

#1717 release: 8.8.7
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1718 feat(sdk): implement `BigNumberService`
  packages/platform-sdk/src/coins/coin.test.ts
  packages/platform-sdk/src/coins/coin.ts
  packages/platform-sdk/src/coins/contracts.ts
  packages/platform-sdk/src/ioc/service-provider.ts
  packages/platform-sdk/src/services/big-number.service.ts
  packages/platform-sdk/src/services/big-number.test.ts
  packages/platform-sdk/src/services/index.ts
Labels: Domain: SDK

#1728 test(lsk): tests for ledger scan
  packages/platform-sdk-lsk/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-lsk/src/services/ledger.test.ts
  packages/platform-sdk-lsk/test/fixtures/client/wallet-0.json
  packages/platform-sdk-lsk/test/fixtures/client/wallet-1.json
  packages/platform-sdk-lsk/test/fixtures/client/wallet-2.json
  packages/platform-sdk-lsk/test/fixtures/client/wallet-3.json
  packages/platform-sdk-lsk/test/fixtures/ledger.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1729 feat(support): implement `BigNumber#toSatoshi`
  packages/platform-sdk-support/src/bignumber.test.ts
  packages/platform-sdk-support/src/bignumber.ts
Labels: Domain: Support

#1731 refactor: return fees as `BigNumber` instances
  packages/platform-sdk-ark/src/services/fee.test.ts
  packages/platform-sdk-ark/src/services/fee.ts
  packages/platform-sdk-egld/src/services/fee.ts
  packages/platform-sdk-lsk/src/services/fee.test.ts
  packages/platform-sdk-lsk/src/services/fee.ts
  packages/platform-sdk-nano/src/services/fee.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/fee-service.test.ts
  packages/platform-sdk-trx/src/services/fee.ts
  packages/platform-sdk/src/services/fee.contract.ts
Labels: Domain: ARK, Domain: EGLD, Domain: LSK, Domain: Profiles, Domain: SDK, Domain: TRX

#1732 fix(json-rpc): remove `coin` and `network` parameters after consuming them
  packages/platform-sdk-json-rpc/src/helpers.ts
  packages/platform-sdk-json-rpc/src/methods/client.ts
  packages/platform-sdk-json-rpc/src/methods/identity/address.ts
  packages/platform-sdk-json-rpc/src/methods/identity/keys.ts
  packages/platform-sdk-json-rpc/src/methods/identity/private-key.ts
  packages/platform-sdk-json-rpc/src/methods/identity/public-key.ts
  packages/platform-sdk-json-rpc/src/methods/identity/wif.ts
  packages/platform-sdk-json-rpc/src/methods/message.ts
  packages/platform-sdk-json-rpc/src/methods/transaction.ts
  packages/platform-sdk-json-rpc/src/methods/wallet.ts
Labels: Domain: JSPN-RPC

#1733 release: 8.9.9
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1736 refactor(sdk): make `createConfig` network agnostic
  packages/platform-sdk-ark/src/services/client.test.ts
  packages/platform-sdk-ark/src/services/known-wallets.test.ts
  packages/platform-sdk-ark/test/helpers.ts
  packages/platform-sdk/src/test.ts
Labels: Domain: ARK, Domain: SDK

#1745 refactor(neo): IoC migration
  packages/platform-sdk-ada/src/service-provider.ts
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-avax/src/service-provider.ts
  packages/platform-sdk-dot/src/service-provider.ts
  packages/platform-sdk-dot/src/services/ledger.test.ts
  packages/platform-sdk-eos/src/service-provider.ts
  packages/platform-sdk-eos/src/services/ledger.test.ts
  packages/platform-sdk-eth/src/service-provider.ts
  packages/platform-sdk-eth/src/services/client.test.ts
  packages/platform-sdk-lsk/src/service-provider.ts
  packages/platform-sdk-lsk/src/services/client.test.ts
  packages/platform-sdk-luna/src/service-provider.ts
  packages/platform-sdk-nano/src/service-provider.ts
  packages/platform-sdk-neo/src/container.ts
  packages/platform-sdk-neo/src/dto/signed-transaction.test.ts
  packages/platform-sdk-neo/src/dto/transaction.test.ts
  packages/platform-sdk-neo/src/service-provider.ts
  packages/platform-sdk-neo/src/services/address-list.ts
  packages/platform-sdk-neo/src/services/address.test.ts
  packages/platform-sdk-neo/src/services/address.ts
  packages/platform-sdk-neo/src/services/client.test.ts
  packages/platform-sdk-neo/src/services/client.ts
  packages/platform-sdk-neo/src/services/fee.ts
  packages/platform-sdk-neo/src/services/identity/index.ts
  packages/platform-sdk-neo/src/services/index.ts
  packages/platform-sdk-neo/src/services/key-pair.test.ts
  packages/platform-sdk-neo/src/services/key-pair.ts
  packages/platform-sdk-neo/src/services/ledger.test.ts
  packages/platform-sdk-neo/src/services/ledger.ts
  packages/platform-sdk-neo/src/services/message.ts
  packages/platform-sdk-neo/src/services/private-key.test.ts
  packages/platform-sdk-neo/src/services/private-key.ts
  packages/platform-sdk-neo/src/services/public-key.test.ts
  packages/platform-sdk-neo/src/services/public-key.ts
  packages/platform-sdk-neo/src/services/signatory.ts
  packages/platform-sdk-neo/src/services/transaction.ts
  packages/platform-sdk-neo/src/services/utils.ts
  packages/platform-sdk-neo/src/services/wallet-discovery.ts
  packages/platform-sdk-neo/src/services/wif.test.ts
  packages/platform-sdk-neo/src/services/wif.ts
  packages/platform-sdk-trx/src/service-provider.ts
  packages/platform-sdk-trx/src/services/client.test.ts
  packages/platform-sdk-xlm/src/service-provider.ts
  packages/platform-sdk-xrp/src/service-provider.ts
  packages/platform-sdk-xrp/src/services/client.test.ts
Labels: Domain: ADA, Domain: AVAX, Domain: DOT, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP

#1746 refactor(trx): IoC migration
  packages/platform-sdk-trx/src/container.ts
  packages/platform-sdk-trx/src/dto/signed-transaction.test.ts
  packages/platform-sdk-trx/src/dto/transaction.test.ts
  packages/platform-sdk-trx/src/services/address-list.ts
  packages/platform-sdk-trx/src/services/address.test.ts
  packages/platform-sdk-trx/src/services/address.ts
  packages/platform-sdk-trx/src/services/client.test.ts
  packages/platform-sdk-trx/src/services/client.ts
  packages/platform-sdk-trx/src/services/fee.ts
  packages/platform-sdk-trx/src/services/identity/index.ts
  packages/platform-sdk-trx/src/services/index.ts
  packages/platform-sdk-trx/src/services/key-pair.test.ts
  packages/platform-sdk-trx/src/services/key-pair.ts
  packages/platform-sdk-trx/src/services/ledger.test.ts
  packages/platform-sdk-trx/src/services/ledger.ts
  packages/platform-sdk-trx/src/services/message.test.ts
  packages/platform-sdk-trx/src/services/message.ts
  packages/platform-sdk-trx/src/services/private-key.test.ts
  packages/platform-sdk-trx/src/services/private-key.ts
  packages/platform-sdk-trx/src/services/public-key.test.ts
  packages/platform-sdk-trx/src/services/public-key.ts
  packages/platform-sdk-trx/src/services/signatory.ts
  packages/platform-sdk-trx/src/services/transaction.test.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-trx/src/services/wallet-discovery.ts
  packages/platform-sdk-trx/src/services/wif.test.ts
  packages/platform-sdk-trx/src/services/wif.ts
Labels: Domain: TRX

#1748 refactor(xrp): IoC migration
  packages/platform-sdk-ada/src/dto/signed-transaction.ts
  packages/platform-sdk-ark/src/dto/signed-transaction.ts
  packages/platform-sdk-atom/src/dto/signed-transaction.ts
  packages/platform-sdk-avax/src/dto/signed-transaction.ts
  packages/platform-sdk-dot/src/dto/signed-transaction.ts
  packages/platform-sdk-egld/src/dto/signed-transaction.ts
  packages/platform-sdk-eos/src/dto/signed-transaction.ts
  packages/platform-sdk-eth/src/dto/signed-transaction.ts
  packages/platform-sdk-lsk/src/dto/signed-transaction.ts
  packages/platform-sdk-luna/src/dto/signed-transaction.ts
  packages/platform-sdk-nano/src/dto/signed-transaction.ts
  packages/platform-sdk-neo/src/dto/signed-transaction.ts
  packages/platform-sdk-sol/src/dto/signed-transaction.ts
  packages/platform-sdk-trx/src/dto/signed-transaction.ts
  packages/platform-sdk-xrp/src/container.ts
  packages/platform-sdk-xrp/src/dto/signed-transaction.test.ts
  packages/platform-sdk-xrp/src/dto/signed-transaction.ts
  packages/platform-sdk-xrp/src/dto/transaction.test.ts
  packages/platform-sdk-xrp/src/dto/transaction.ts
  packages/platform-sdk-xrp/src/services/address-list.ts
  packages/platform-sdk-xrp/src/services/address.test.ts
  packages/platform-sdk-xrp/src/services/address.ts
  packages/platform-sdk-xrp/src/services/client.test.ts
  packages/platform-sdk-xrp/src/services/client.ts
  packages/platform-sdk-xrp/src/services/fee.ts
  packages/platform-sdk-xrp/src/services/identity/index.ts
  packages/platform-sdk-xrp/src/services/index.ts
  packages/platform-sdk-xrp/src/services/key-pair.test.ts
  packages/platform-sdk-xrp/src/services/key-pair.ts
  packages/platform-sdk-xrp/src/services/ledger.test.ts
  packages/platform-sdk-xrp/src/services/ledger.ts
  packages/platform-sdk-xrp/src/services/message.ts
  packages/platform-sdk-xrp/src/services/private-key.ts
  packages/platform-sdk-xrp/src/services/public-key.ts
  packages/platform-sdk-xrp/src/services/signatory.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk-xrp/src/services/wallet-discovery.ts
  packages/platform-sdk-xrp/src/services/wif.ts
  packages/platform-sdk-zil/src/dto/signed-transaction.ts
  packages/platform-sdk/src/services/transaction.service.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XRP, Domain: ZIL

#1750 refactor(dot): IoC migration
  packages/platform-sdk-dot/src/container.ts
  packages/platform-sdk-dot/src/dto/signed-transaction.test.ts
  packages/platform-sdk-dot/src/services/address.test.ts
  packages/platform-sdk-dot/src/services/address.ts
  packages/platform-sdk-dot/src/services/client.ts
  packages/platform-sdk-dot/src/services/extended-address.ts
  packages/platform-sdk-dot/src/services/fee.ts
  packages/platform-sdk-dot/src/services/identity/index.test.ts
  packages/platform-sdk-dot/src/services/identity/index.ts
  packages/platform-sdk-dot/src/services/identity/wif.ts
  packages/platform-sdk-dot/src/services/key-pair.test.ts
  packages/platform-sdk-dot/src/services/key-pair.ts
  packages/platform-sdk-dot/src/services/ledger.ts
  packages/platform-sdk-dot/src/services/message.test.ts
  packages/platform-sdk-dot/src/services/message.ts
  packages/platform-sdk-dot/src/services/private-key.test.ts
  packages/platform-sdk-dot/src/services/private-key.ts
  packages/platform-sdk-dot/src/services/public-key.test.ts
  packages/platform-sdk-dot/src/services/public-key.ts
  packages/platform-sdk-dot/src/services/signatory.ts
  packages/platform-sdk-dot/src/services/transaction.test.ts
  packages/platform-sdk-dot/src/services/transaction.ts
  packages/platform-sdk-dot/src/services/wallet-discovery.ts
  packages/platform-sdk-dot/src/services/wif.test.ts
  packages/platform-sdk-dot/src/services/wif.ts
  packages/platform-sdk-eth/src/services/ledger.ts
  packages/platform-sdk-neo/src/services/ledger.ts
Labels: Domain: DOT, Domain: ETH, Domain: NEO

#1751 refactor(lsk): IoC migration
  packages/platform-sdk-lsk/src/container.ts
  packages/platform-sdk-lsk/src/dto/signed-transaction.test.ts
  packages/platform-sdk-lsk/src/dto/transaction.test.ts
  packages/platform-sdk-lsk/src/dto/transaction.ts
  packages/platform-sdk-lsk/src/services/address-list.ts
  packages/platform-sdk-lsk/src/services/address.test.ts
  packages/platform-sdk-lsk/src/services/address.ts
  packages/platform-sdk-lsk/src/services/client.test.ts
  packages/platform-sdk-lsk/src/services/client.ts
  packages/platform-sdk-lsk/src/services/data-transfer-object.ts
  packages/platform-sdk-lsk/src/services/fee.test.ts
  packages/platform-sdk-lsk/src/services/fee.ts
  packages/platform-sdk-lsk/src/services/identity/index.ts
  packages/platform-sdk-lsk/src/services/identity/wif.ts
  packages/platform-sdk-lsk/src/services/index.ts
  packages/platform-sdk-lsk/src/services/key-pair.test.ts
  packages/platform-sdk-lsk/src/services/key-pair.ts
  packages/platform-sdk-lsk/src/services/ledger.test.ts
  packages/platform-sdk-lsk/src/services/ledger.ts
  packages/platform-sdk-lsk/src/services/message.ts
  packages/platform-sdk-lsk/src/services/private-key.test.ts
  packages/platform-sdk-lsk/src/services/private-key.ts
  packages/platform-sdk-lsk/src/services/public-key.test.ts
  packages/platform-sdk-lsk/src/services/public-key.ts
  packages/platform-sdk-lsk/src/services/signatory.ts
  packages/platform-sdk-lsk/src/services/transaction.test.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/wallet-discovery.ts
  packages/platform-sdk-lsk/src/services/wif.test.ts
  packages/platform-sdk-lsk/src/services/wif.ts
Labels: Domain: LSK

#1752 refactor(eth): IoC migration
  packages/platform-sdk-eth/src/container.ts
  packages/platform-sdk-eth/src/dto/transaction.test.ts
  packages/platform-sdk-eth/src/dto/transaction.ts
  packages/platform-sdk-eth/src/services/address-list.ts
  packages/platform-sdk-eth/src/services/address.test.ts
  packages/platform-sdk-eth/src/services/address.ts
  packages/platform-sdk-eth/src/services/client.test.ts
  packages/platform-sdk-eth/src/services/client.ts
  packages/platform-sdk-eth/src/services/fee.test.ts
  packages/platform-sdk-eth/src/services/fee.ts
  packages/platform-sdk-eth/src/services/identity/index.ts
  packages/platform-sdk-eth/src/services/identity/wif.ts
  packages/platform-sdk-eth/src/services/index.ts
  packages/platform-sdk-eth/src/services/key-pair.test.ts
  packages/platform-sdk-eth/src/services/key-pair.ts
  packages/platform-sdk-eth/src/services/ledger.test.ts
  packages/platform-sdk-eth/src/services/ledger.ts
  packages/platform-sdk-eth/src/services/private-key.test.ts
  packages/platform-sdk-eth/src/services/private-key.ts
  packages/platform-sdk-eth/src/services/public-key.test.ts
  packages/platform-sdk-eth/src/services/public-key.ts
  packages/platform-sdk-eth/src/services/signatory.ts
  packages/platform-sdk-eth/src/services/transaction.ts
  packages/platform-sdk-eth/src/services/utils.ts
  packages/platform-sdk-eth/src/services/wallet-discovery.ts
  packages/platform-sdk-eth/src/services/wif.test.ts
  packages/platform-sdk-eth/src/services/wif.ts
  packages/platform-sdk/src/services/fee.service.ts
Labels: Domain: ETH, Domain: SDK

#1753 refactor(ada): IoC migration
  packages/platform-sdk-ada/src/container.ts
  packages/platform-sdk-ada/src/dto/signed-transaction.test.ts
  packages/platform-sdk-ada/src/dto/transaction.test.ts
  packages/platform-sdk-ada/src/dto/transaction.ts
  packages/platform-sdk-ada/src/services/address-list.test.ts
  packages/platform-sdk-ada/src/services/address-list.ts
  packages/platform-sdk-ada/src/services/address.test.ts
  packages/platform-sdk-ada/src/services/address.ts
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-ada/src/services/client.ts
  packages/platform-sdk-ada/src/services/fee.ts
  packages/platform-sdk-ada/src/services/helpers.ts
  packages/platform-sdk-ada/src/services/identity/index.test.ts
  packages/platform-sdk-ada/src/services/identity/index.ts
  packages/platform-sdk-ada/src/services/identity/wif.ts
  packages/platform-sdk-ada/src/services/index.ts
  packages/platform-sdk-ada/src/services/key-pair.test.ts
  packages/platform-sdk-ada/src/services/key-pair.ts
  packages/platform-sdk-ada/src/services/message.ts
  packages/platform-sdk-ada/src/services/private-key.test.ts
  packages/platform-sdk-ada/src/services/private-key.ts
  packages/platform-sdk-ada/src/services/public-key.test.ts
  packages/platform-sdk-ada/src/services/public-key.ts
  packages/platform-sdk-ada/src/services/shelley.ts
  packages/platform-sdk-ada/src/services/signatory.ts
  packages/platform-sdk-ada/src/services/transaction.test.ts
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-ada/src/services/wallet-discovery.ts
  packages/platform-sdk-ada/src/services/wif.test.ts
  packages/platform-sdk-ada/src/services/wif.ts
  packages/platform-sdk-ada/test/mariano.test.ts
  packages/platform-sdk-ada/test/submit-tx.test.ts
Labels: Domain: ADA

#1757 test: remove `toThrow(/is not implemented/)` scenarios
  packages/platform-sdk-ada/src/services/address.test.ts
  packages/platform-sdk-ada/src/services/key-pair.test.ts
  packages/platform-sdk-ada/src/services/private-key.test.ts
  packages/platform-sdk-ada/src/services/public-key.test.ts
  packages/platform-sdk-atom/src/services/address.test.ts
  packages/platform-sdk-atom/src/services/key-pair.test.ts
  packages/platform-sdk-atom/src/services/private-key.test.ts
  packages/platform-sdk-atom/src/services/public-key.test.ts
  packages/platform-sdk-avax/src/services/address.test.ts
  packages/platform-sdk-avax/src/services/key-pair.test.ts
  packages/platform-sdk-avax/src/services/private-key.test.ts
  packages/platform-sdk-avax/src/services/public-key.test.ts
  packages/platform-sdk-btc/src/services/public-key.test.ts
  packages/platform-sdk-dot/src/services/address.test.ts
  packages/platform-sdk-dot/src/services/key-pair.test.ts
  packages/platform-sdk-dot/src/services/private-key.test.ts
  packages/platform-sdk-dot/src/services/public-key.test.ts
  packages/platform-sdk-egld/src/services/address.test.ts
  packages/platform-sdk-egld/src/services/key-pair.test.ts
  packages/platform-sdk-egld/src/services/private-key.test.ts
  packages/platform-sdk-egld/src/services/public-key.test.ts
  packages/platform-sdk-eth/src/services/address.test.ts
  packages/platform-sdk-eth/src/services/key-pair.test.ts
  packages/platform-sdk-eth/src/services/private-key.test.ts
  packages/platform-sdk-eth/src/services/public-key.test.ts
  packages/platform-sdk-lsk/src/services/address.test.ts
  packages/platform-sdk-lsk/src/services/key-pair.test.ts
  packages/platform-sdk-lsk/src/services/private-key.test.ts
  packages/platform-sdk-lsk/src/services/public-key.test.ts
  packages/platform-sdk-sol/src/services/address.test.ts
  packages/platform-sdk-sol/src/services/key-pair.test.ts
  packages/platform-sdk-sol/src/services/private-key.test.ts
  packages/platform-sdk-sol/src/services/public-key.test.ts
  packages/platform-sdk-zil/src/services/address.test.ts
  packages/platform-sdk-zil/src/services/key-pair.test.ts
  packages/platform-sdk-zil/src/services/private-key.test.ts
  packages/platform-sdk-zil/src/services/public-key.test.ts
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: ETH, Domain: LSK, Domain: SOL, Domain: ZIL

#1758 ci: cancel previous workflows
  .github/workflows/cf.yml
  .github/workflows/ci.yml
Labels: ci

#1759 release: 9.0.0
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1760 refactor(sdk): initiate inversify through constructor
  packages/platform-sdk/src/ioc/container.ts
Labels: Domain: SDK

#1762 fix(sdk): don't construct or destruct if already done
  packages/platform-sdk/src/coins/coin.ts
Labels: Domain: SDK

#1761 refactor(sdk): destroy container bindings in reverse order
  packages/platform-sdk/src/coins/coin.ts
  packages/platform-sdk/src/ioc/service-provider.ts
Labels: Domain: SDK

#1767 refactor(btc-indexer): only ignore error if unique constraint violation
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk/src/coins/coin.ts
Labels: Domain: BTC/Indexer, Domain: SDK

#1766 refactor(btc-indexer): use upserts for blocks, transactions and parts
  packages/platform-sdk-btc-indexer/src/database.ts
Labels: Domain: BTC/Indexer, Domain: SDK

#1772 test(sdk): ensure that coin instances do not share container instances
  packages/platform-sdk/src/coins/coin-factory.test.ts
Labels: Domain: SDK

#1773 release: 9.0.8
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1775 fix(sdk): prevent `Coin.__construct` race condition
  packages/platform-sdk/src/coins/coin.ts
Labels: Domain: SDK

#1770 feat(lsk): implement ledger signing
  packages/platform-sdk-lsk/src/networks/shared.ts
  packages/platform-sdk-lsk/src/services/transaction.test.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk/src/services/signatory.contract.ts
  packages/platform-sdk/src/services/signatory.service.ts
  packages/platform-sdk/src/signatories/index.ts
  packages/platform-sdk/src/signatories/ledger.ts
  packages/platform-sdk/src/signatories/signatory.test.ts
  packages/platform-sdk/src/signatories/signatory.ts
Labels: Domain: LSK, Domain: SDK

#1768 refactor(btc-indexer): store pending blocks in database
  packages/platform-sdk-btc-indexer/bin/meow.js
  packages/platform-sdk-btc-indexer/prisma/migrations/20210608105900_pending_blocks/migration.sql
  packages/platform-sdk-btc-indexer/prisma/schema.prisma
  packages/platform-sdk-btc-indexer/src/client.ts
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/helpers.ts
  packages/platform-sdk-btc-indexer/src/index.ts
  packages/platform-sdk/src/coins/coin-factory.test.ts
Labels: Domain: BTC/Indexer, Domain: SDK

#1777 refactor(ark): handle ledger signing in `TransactionService`
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-ark/src/services/transaction.test.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk/package.json
  packages/platform-sdk/src/signatories/signatory.test.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#1778 refactor(sdk): remove `TransactionOptions` in favour of `Signatory`
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-atom/src/services/transaction.ts
  packages/platform-sdk-avax/src/services/transaction.ts
  packages/platform-sdk-btc/src/services/transaction.ts
  packages/platform-sdk-dot/src/services/transaction.ts
  packages/platform-sdk-egld/src/services/transaction.ts
  packages/platform-sdk-eos/src/services/transaction.ts
  packages/platform-sdk-eth/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-luna/src/services/transaction.ts
  packages/platform-sdk-nano/src/services/transaction.ts
  packages/platform-sdk-neo/src/services/transaction.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk-sol/src/services/transaction.ts
  packages/platform-sdk-trx/src/services/transaction.ts
  packages/platform-sdk-xlm/src/services/transaction.ts
  packages/platform-sdk-xrp/src/services/transaction.ts
  packages/platform-sdk-zil/src/services/transaction.ts
  packages/platform-sdk/src/services/transaction.contract.ts
  packages/platform-sdk/src/services/transaction.service.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1779 refactor(sdk): remove `SignatureSignatory` in favour of `LedgerSignatory`
  packages/platform-sdk-ark/src/services/transaction.test.ts
  packages/platform-sdk-ark/src/services/transaction.ts
  packages/platform-sdk-lsk/src/services/transaction.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk/src/coins/coin.ts
  packages/platform-sdk/src/services/signatory.contract.ts
  packages/platform-sdk/src/services/signatory.service.ts
  packages/platform-sdk/src/signatories/index.ts
  packages/platform-sdk/src/signatories/signatory.test.ts
  packages/platform-sdk/src/signatories/signatory.ts
  packages/platform-sdk/src/signatories/signature.ts
Labels: Domain: ARK, Domain: LSK, Domain: Profiles, Domain: SDK

#1780 release: 9.1.0
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1781 refactor(ark): derive ledger address early to determine nonce
  packages/platform-sdk-ark/src/services/transaction.ts
Labels: Domain: ARK

#1785 docs(lsk): transfer example code
  packages/platform-sdk-cli/src/commands/examples/commands/lsk/transfer-funds.ts
  packages/platform-sdk-cli/src/commands/examples/index.ts
Labels: Domain: CLI

#1765 test(ark): increase coverage
  jest.coverage.js
  packages/platform-sdk-ark/source/address.service.test.ts
  packages/platform-sdk-ark/source/address.service.ts
  packages/platform-sdk-ark/source/client.test.ts
  packages/platform-sdk-ark/source/delegate-registration.dto.test.ts
  packages/platform-sdk-ark/source/htlc-claim.dto.test.ts
  packages/platform-sdk-ark/source/htlc-lock.dto.test.ts
  packages/platform-sdk-ark/source/htlc-refund.dto.test.ts
  packages/platform-sdk-ark/source/ipfs.dto.test.ts
  packages/platform-sdk-ark/source/key-pair.service.test.ts
  packages/platform-sdk-ark/source/known-wallets.service.test.ts
  packages/platform-sdk-ark/source/known-wallets.service.ts
  packages/platform-sdk-ark/source/ledger.service.test.ts
  packages/platform-sdk-ark/source/message.service.test.ts
  packages/platform-sdk-ark/source/multi-payment.dto.test.ts
  packages/platform-sdk-ark/source/multi-signature.dto.test.ts
  packages/platform-sdk-ark/source/multi-signature.service.test.ts
  packages/platform-sdk-ark/source/private-key.service.test.ts
  packages/platform-sdk-ark/source/public-key.test.ts
  packages/platform-sdk-ark/source/second-signature.dto.test.ts
  packages/platform-sdk-ark/source/signed-transaction.dto.test.ts
  packages/platform-sdk-ark/source/transaction.dto.test.ts
  packages/platform-sdk-ark/source/transaction.dto.ts
  packages/platform-sdk-ark/source/transaction.service.test.ts
  packages/platform-sdk-ark/source/transfer.dto.test.ts
  packages/platform-sdk-ark/source/vote.dto.test.ts
  packages/platform-sdk-ark/source/wallet.dto.test.ts
  packages/platform-sdk-ark/source/wif.service.test.ts
  packages/platform-sdk-ark/test/fixtures/client/multisig-transactions.json
  packages/platform-sdk/source/coins/config.test.ts
  packages/platform-sdk/source/coins/config.ts
Labels: Domain: ARK, Domain: SDK

#1710 fix(cli): use ledger service to import wallets
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-cli/source/commands/create-profile.ts
  packages/platform-sdk-cli/source/commands/import-ledger-wallet.ts
  packages/platform-sdk-lsk/source/ledger.service.ts
  packages/platform-sdk-lsk/source/networks/shared.ts
Labels: Domain: CLI, Domain: LSK

#1788 refactor(sdk): flatten feature flags
  jest.coverage.js
  packages/platform-sdk-ada/source/networks/shared.ts
  packages/platform-sdk-ark/source/networks/shared.ts
  packages/platform-sdk-atom/source/networks/shared.ts
  packages/platform-sdk-avax/source/networks/shared.ts
  packages/platform-sdk-btc/source/networks/shared.ts
  packages/platform-sdk-dot/source/networks/shared.ts
  packages/platform-sdk-egld/source/networks/shared.ts
  packages/platform-sdk-eos/source/networks/shared.ts
  packages/platform-sdk-eth/source/networks/shared.ts
  packages/platform-sdk-json-rpc/source/methods/identity/address.ts
  packages/platform-sdk-lsk/source/networks/shared.ts
  packages/platform-sdk-luna/source/networks/shared.ts
  packages/platform-sdk-nano/source/networks/shared.ts
  packages/platform-sdk-neo/source/networks/shared.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/source/environment/__snapshots__/env.test.ts.snap
  packages/platform-sdk-sol/source/networks/shared.ts
  packages/platform-sdk-trx/source/networks/shared.ts
  packages/platform-sdk-xlm/source/networks/shared.ts
  packages/platform-sdk-xrp/source/networks/shared.ts
  packages/platform-sdk-zil/source/networks/shared.ts
  packages/platform-sdk/source/enums.test.ts
  packages/platform-sdk/source/enums.ts
  packages/platform-sdk/source/networks/network-repository.test.ts
  packages/platform-sdk/source/networks/network.models.ts
  packages/platform-sdk/source/networks/network.test.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: JSPN-RPC, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1789 chore(sdk): remove link methods from feature flags because they always exist
  packages/platform-sdk/source/enums.test.ts
  packages/platform-sdk/source/enums.ts
  packages/platform-sdk/source/networks/network.models.ts
Labels: Domain: SDK

#1792 refactor(sdk): dry transaction DTOs
  packages/platform-sdk-ada/source/signed-transaction.dto.ts
  packages/platform-sdk-ada/source/transaction.dto.ts
  packages/platform-sdk-ark/source/signed-transaction.dto.ts
  packages/platform-sdk-ark/source/transaction-type.service.ts
  packages/platform-sdk-ark/source/transaction.dto.ts
  packages/platform-sdk-atom/source/signed-transaction.dto.ts
  packages/platform-sdk-atom/source/transaction.dto.ts
  packages/platform-sdk-avax/source/signed-transaction.dto.ts
  packages/platform-sdk-avax/source/transaction.dto.ts
  packages/platform-sdk-btc/source/signed-transaction.dto.ts
  packages/platform-sdk-btc/source/transaction.dto.ts
  packages/platform-sdk-dot/source/signed-transaction.dto.ts
  packages/platform-sdk-egld/source/signed-transaction.dto.ts
  packages/platform-sdk-egld/source/transaction.dto.ts
  packages/platform-sdk-eos/source/signed-transaction.dto.ts
  packages/platform-sdk-eos/source/transaction.dto.ts
  packages/platform-sdk-eth/source/signed-transaction.dto.ts
  packages/platform-sdk-eth/source/transaction.dto.ts
  packages/platform-sdk-lsk/source/signed-transaction.dto.ts
  packages/platform-sdk-lsk/source/transaction-type.service.ts
  packages/platform-sdk-lsk/source/transaction.dto.ts
  packages/platform-sdk-luna/source/signed-transaction.dto.ts
  packages/platform-sdk-luna/source/transaction.dto.ts
  packages/platform-sdk-nano/source/signed-transaction.dto.ts
  packages/platform-sdk-nano/source/transaction.dto.ts
  packages/platform-sdk-neo/source/signed-transaction.dto.ts
  packages/platform-sdk-neo/source/transaction.dto.ts
  packages/platform-sdk-profiles/source/drivers/memory/services/fee-service.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/dto/signed-transaction.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/dto/signed-transaction.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk-sol/source/signed-transaction.dto.ts
  packages/platform-sdk-sol/source/transaction.dto.ts
  packages/platform-sdk-trx/source/signed-transaction.dto.ts
  packages/platform-sdk-trx/source/transaction.dto.ts
  packages/platform-sdk-xlm/source/signed-transaction.dto.ts
  packages/platform-sdk-xlm/source/transaction.dto.ts
  packages/platform-sdk-xrp/source/signed-transaction.dto.ts
  packages/platform-sdk-xrp/source/transaction.dto.ts
  packages/platform-sdk-zil/source/signed-transaction.dto.ts
  packages/platform-sdk-zil/source/transaction.dto.ts
  packages/platform-sdk/source/dto/signed-transaction.contract.ts
  packages/platform-sdk/source/dto/signed-transaction.ts
  packages/platform-sdk/source/dto/transaction.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1793 release: 9.2.1
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1794 refactor(sdk): rename `SignedTransactionData#isMultiSignature` to `SignedTransactionData#usesMultiSignature`
  jest.coverage.js
  packages/platform-sdk-ark/source/signed-transaction.dto.test.ts
  packages/platform-sdk-ark/source/signed-transaction.dto.ts
  packages/platform-sdk-ark/source/transaction-type.service.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet-transaction-service.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk/source/dto/signed-transaction.contract.ts
  packages/platform-sdk/source/dto/signed-transaction.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1795 refactor(profiles): enforce strict structure for validation
  packages/platform-sdk-profiles/source/contracts/profiles/profile.enum.ts
  packages/platform-sdk-profiles/source/drivers/memory/profiles/migrator.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/profiles/profile.importer.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/source/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/profiles/profile.validator.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/profiles/profile.validator.ts
  packages/platform-sdk-profiles/source/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/source/environment/env.test.ts
  packages/platform-sdk-profiles/test/fixtures/env-storage.json
Labels: Domain: Profiles

#1796 refactor(ledger): common code in superclass
  packages/platform-sdk-ark/source/__snapshots__/ledger.service.test.ts.snap
  packages/platform-sdk-ark/source/ledger.service.ts
  packages/platform-sdk-cli/source/commands/import-ledger-wallet.ts
  packages/platform-sdk-dot/source/ledger.service.test.ts
  packages/platform-sdk-eos/source/ledger.service.test.ts
  packages/platform-sdk-lsk/source/ledger.service.ts
  packages/platform-sdk-lsk/source/wallet.dto.ts
  packages/platform-sdk-neo/source/ledger.service.test.ts
  packages/platform-sdk/source/contracts.ts
  packages/platform-sdk/source/dto/wallet.ts
  packages/platform-sdk/source/services/data-transfer-object.contract.ts
  packages/platform-sdk/source/services/data-transfer-object.service.ts
  packages/platform-sdk/source/services/ledger.service.ts
Labels: Domain: ARK, Domain: CLI, Domain: DOT, Domain: EOS, Domain: LSK, Domain: NEO, Domain: SDK

#1799 chore(btc-indexer): tweak configuration
  packages/platform-sdk-btc-indexer/prisma/schema.prisma
  packages/platform-sdk-btc-indexer/source/database.ts
  packages/platform-sdk-btc-indexer/source/index.ts
Labels: Domain: BTC/Indexer

#1800 release: 9.2.4
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1801 fix(ark): add delegate resignation DTO
  packages/platform-sdk-ark/source/coin.dtos.ts
  packages/platform-sdk-ark/source/delegate-resignation.dto.test.ts
  packages/platform-sdk-ark/source/delegate-resignation.dto.ts
Labels: Domain: ARK

#1805 refactor(profiles): enable transaction history setting on profile creation
  packages/platform-sdk-profiles/source/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/source/environment/env.test.ts
Labels: Domain: Profiles

#1808 release: 9.2.8
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1809 fix(json-rpc): remove coin and network from cached instance
  packages/platform-sdk-json-rpc/source/helpers.ts
Labels: Domain: JSPN-RPC

#1810 fix(json-rpc): turn transactions to JSON for response
  packages/platform-sdk-json-rpc/source/methods/client.ts
  packages/platform-sdk/source/dto/transaction.contract.ts
  packages/platform-sdk/source/dto/transaction.ts
Labels: Domain: JSPN-RPC, Domain: SDK

#1812 fix(json-rpc): return numbers in human-readable format
  packages/platform-sdk-json-rpc/source/helpers.ts
  packages/platform-sdk-json-rpc/source/methods/client.ts
  packages/platform-sdk/source/dto/transaction.contract.ts
  packages/platform-sdk/source/dto/transaction.ts
Labels: Domain: JSPN-RPC, Domain: SDK

#1814 ci: retry build step if it fails
  .github/workflows/ci.yml
  packages/platform-sdk-btc-indexer/source/database.ts
Labels: Domain: BTC/Indexer, ci

#1816 release: 9.3.0
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1817 fix: use `isMultiSignature` for wallets
  packages/platform-sdk-ada/source/wallet.dto.test.ts
  packages/platform-sdk-ada/source/wallet.dto.ts
  packages/platform-sdk-ark/source/__snapshots__/ledger.service.test.ts.snap
  packages/platform-sdk-ark/source/wallet.dto.test.ts
  packages/platform-sdk-ark/source/wallet.dto.ts
  packages/platform-sdk-atom/source/wallet.dto.test.ts
  packages/platform-sdk-atom/source/wallet.dto.ts
  packages/platform-sdk-avax/source/wallet.dto.ts
  packages/platform-sdk-btc/source/wallet.dto.test.ts
  packages/platform-sdk-btc/source/wallet.dto.ts
  packages/platform-sdk-dot/source/wallet.dto.ts
  packages/platform-sdk-egld/source/wallet.dto.ts
  packages/platform-sdk-eos/source/wallet.dto.test.ts
  packages/platform-sdk-eos/source/wallet.dto.ts
  packages/platform-sdk-eth/source/wallet.dto.test.ts
  packages/platform-sdk-eth/source/wallet.dto.ts
  packages/platform-sdk-lsk/source/wallet.dto.ts
  packages/platform-sdk-luna/source/wallet.dto.ts
  packages/platform-sdk-nano/source/__snapshots__/client.service.test.ts.snap
  packages/platform-sdk-nano/source/wallet.dto.ts
  packages/platform-sdk-neo/source/wallet.dto.test.ts
  packages/platform-sdk-neo/source/wallet.dto.ts
  packages/platform-sdk-profiles/source/contracts/contacts/contact-address.ts
  packages/platform-sdk-profiles/source/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/source/drivers/memory/contacts/contact-address.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/services/multi-signature.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet.synchroniser.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/source/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-sol/source/wallet.dto.ts
  packages/platform-sdk-trx/source/wallet.dto.test.ts
  packages/platform-sdk-trx/source/wallet.dto.ts
  packages/platform-sdk-xlm/source/wallet.dto.test.ts
  packages/platform-sdk-xlm/source/wallet.dto.ts
  packages/platform-sdk-xrp/source/wallet.dto.ts
  packages/platform-sdk-zil/source/wallet.dto.ts
  packages/platform-sdk/source/contracts.ts
  packages/platform-sdk/source/dto/wallet.test.ts
  packages/platform-sdk/source/dto/wallet.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1819 refactor(sdk): merge `toObject` into `toHuman` and `toJSON`
  packages/platform-sdk-profiles/source/contracts/contacts/contact-address.ts
  packages/platform-sdk-profiles/source/contracts/wallets/wallet.ts
  packages/platform-sdk/source/dto/transaction.ts
Labels: Domain: Profiles, Domain: SDK

#1820 fix(profiles): use `denominated` amount for conversion
  jest.coverage.js
  packages/platform-sdk-profiles/source/dto/transaction.test.ts
  packages/platform-sdk-profiles/source/dto/transaction.ts
  packages/platform-sdk-support/source/bignumber.ts
Labels: Domain: Profiles, Domain: Support

#1822 fix: ensure correct `TransferData` instance is used
  packages/platform-sdk-ark/source/client.test.ts
  packages/platform-sdk-atom/source/client.service.test.ts
  packages/platform-sdk-atom/source/coin.dtos.ts
  packages/platform-sdk-atom/source/transfer.dto.ts
  packages/platform-sdk-avax/source/client.service.test.ts
  packages/platform-sdk-egld/source/client.service.test.ts
  packages/platform-sdk-egld/source/coin.dtos.ts
  packages/platform-sdk-egld/source/transfer.dto.ts
  packages/platform-sdk-eth/source/client.service.test.ts
  packages/platform-sdk-eth/source/coin.dtos.ts
  packages/platform-sdk-eth/source/transfer.dto.ts
  packages/platform-sdk-lsk/source/client.service.test.ts
  packages/platform-sdk-lsk/source/coin.dtos.ts
  packages/platform-sdk-lsk/source/delegate-registration.dto.ts
  packages/platform-sdk-lsk/source/multi-signature.dto.ts
  packages/platform-sdk-lsk/source/second-signature.dto.ts
  packages/platform-sdk-lsk/source/transaction-type.service.ts
  packages/platform-sdk-lsk/source/transaction.dto.test.ts
  packages/platform-sdk-lsk/source/transfer.dto.ts
  packages/platform-sdk-lsk/source/vote.dto.ts
  packages/platform-sdk-lsk/test/fixtures/client/transaction.json
  packages/platform-sdk-neo/source/client.service.test.ts
  packages/platform-sdk-neo/source/coin.dtos.ts
  packages/platform-sdk-neo/source/transfer.dto.ts
  packages/platform-sdk-profiles/source/dto/transaction.ts
  packages/platform-sdk-trx/source/client.service.test.ts
  packages/platform-sdk-trx/source/coin.dtos.ts
  packages/platform-sdk-trx/source/transfer.dto.ts
  packages/platform-sdk-xlm/source/client.service.test.ts
  packages/platform-sdk-xlm/source/coin.dtos.ts
  packages/platform-sdk-xlm/source/transfer.dto.ts
  packages/platform-sdk-xrp/source/client.service.test.ts
  packages/platform-sdk-zil/source/client.service.test.ts
  packages/platform-sdk-zil/source/coin.dtos.ts
  packages/platform-sdk-zil/source/transfer.dto.ts
  packages/platform-sdk/source/dto/signed-transaction.test.ts
  packages/platform-sdk/source/dto/transaction.test.ts
  packages/platform-sdk/source/dto/wallet.test.ts
Labels: Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: EGLD, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1823 fix(sdk): export `SignedTransactionData#type` type
  packages/platform-sdk/source/dto/signed-transaction.contract.ts
Labels: Domain: SDK

#1826 refactor: replace uses of `Helpers#toRawUnit` by `BigNumber#toSatoshi`
  packages/platform-sdk-ada/source/transaction.service.ts
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-avax/source/transaction.service.ts
  packages/platform-sdk-btc/source/transaction.service.ts
  packages/platform-sdk-dot/source/transaction.service.ts
  packages/platform-sdk-lsk/source/transaction.service.ts
  packages/platform-sdk-luna/source/transaction.service.ts
  packages/platform-sdk-sol/source/transaction.service.ts
  packages/platform-sdk-trx/source/transaction.service.ts
  packages/platform-sdk-xlm/source/transaction.service.ts
  packages/platform-sdk-xrp/source/transaction.service.ts
  packages/platform-sdk/source/helpers.test.ts
  packages/platform-sdk/source/helpers.ts
  packages/platform-sdk/source/services/transaction.service.ts
Labels: Domain: ADA, Domain: ARK, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: LSK, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP

#1828 refactor(btc-indexer): replace `prisma` with `pg-promise`
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/bin/meow.js
  packages/platform-sdk-btc-indexer/migrations/create_initial_tables.sql
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/prisma/migrations/20210527154523_initial_migration/migration.sql
  packages/platform-sdk-btc-indexer/prisma/migrations/20210608105900_pending_blocks/migration.sql
  packages/platform-sdk-btc-indexer/prisma/migrations/migration_lock.toml
  packages/platform-sdk-btc-indexer/prisma/schema.prisma
  packages/platform-sdk-btc-indexer/source/blocks.ts
  packages/platform-sdk-btc-indexer/source/database.ts
  packages/platform-sdk-btc-indexer/source/index.ts
  packages/platform-sdk-btc-indexer/source/logger.ts
  packages/platform-sdk-btc-indexer/source/types.ts
Labels: Domain: BTC/Indexer

#1831 fix(btc-indexer): indexing more robust
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/source/client.ts
  packages/platform-sdk-btc-indexer/source/database.ts
  packages/platform-sdk-btc-indexer/source/factories.ts
  packages/platform-sdk-btc-indexer/source/index.ts
Labels: Domain: BTC/Indexer

#1832 release: 9.3.9
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1829 refactor(ark): integrate `@arkecosystem/multi-signature`
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-ark/source/address.service.ts
  packages/platform-sdk-ark/source/coin.contract.ts
  packages/platform-sdk-ark/source/coin.provider.ts
  packages/platform-sdk-ark/source/key-pair.service.ts
  packages/platform-sdk-ark/source/multi-signature.contract.ts
  packages/platform-sdk-ark/source/multi-signature.service.ts
  packages/platform-sdk-ark/source/multi-signature.signer.ts
  packages/platform-sdk-ark/source/multi-signature.transaction.ts
  packages/platform-sdk-ark/source/private-key.service.ts
  packages/platform-sdk-ark/source/public-key.service.ts
  packages/platform-sdk-ark/source/transaction.service.test.ts
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-ark/source/wif.service.ts
  packages/platform-sdk-ark/test/mocking.ts
Labels: Domain: ARK

#1836 feat(json-rpc): implement transformer for `client.wallet` call
  packages/platform-sdk-json-rpc/source/methods/client.ts
  packages/platform-sdk/source/dto/wallet.ts
Labels: Domain: JSPN-RPC, Domain: SDK

#1837 feat(sdk): implement `TransactionData#isReturn`
  packages/platform-sdk/source/dto/transaction.contract.ts
  packages/platform-sdk/source/dto/transaction.ts
Labels: Domain: SDK

#1825 test: add test cases for signed transactions
  packages/platform-sdk-ada/source/signed-transaction.dto.test.ts
  packages/platform-sdk-atom/source/signed-transaction.dto.test.ts
  packages/platform-sdk-avax/source/signed-transaction.dto.test.ts
  packages/platform-sdk-btc/source/signed-transaction.dto.test.ts
  packages/platform-sdk-dot/source/signed-transaction.dto.test.ts
  packages/platform-sdk-egld/source/signed-transaction.dto.test.ts
  packages/platform-sdk-egld/source/signed-transaction.dto.ts
  packages/platform-sdk-egld/source/transaction.service.ts
  packages/platform-sdk-eos/source/signed-transaction.dto.test.ts
  packages/platform-sdk-lsk/source/signed-transaction.dto.test.ts
  packages/platform-sdk-nano/source/signed-transaction.dto.test.ts
  packages/platform-sdk-nano/source/signed-transaction.dto.ts
  packages/platform-sdk-neo/source/signed-transaction.dto.test.ts
  packages/platform-sdk-sol/source/signed-transaction.dto.test.ts
  packages/platform-sdk-trx/source/signed-transaction.dto.test.ts
  packages/platform-sdk-xlm/source/signed-transaction.dto.test.ts
  packages/platform-sdk-xrp/source/signed-transaction.dto.test.ts
  packages/platform-sdk-zil/source/signed-transaction.dto.test.ts
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1841 feat(profiles): implement `TransactionData#isReturn`
  packages/platform-sdk-profiles/source/transaction.dto.test.ts
  packages/platform-sdk-profiles/source/transaction.dto.ts
Labels: Domain: Profiles

#1843 refactor(profiles): treat balances, amounts and fees as numbers
  packages/platform-sdk-ada/source/signed-transaction.dto.test.ts
  packages/platform-sdk-ark/source/multi-payment.dto.ts
  packages/platform-sdk-ark/source/transaction.dto.ts
  packages/platform-sdk-avax/source/signed-transaction.dto.test.ts
  packages/platform-sdk-avax/source/transaction.service.ts
  packages/platform-sdk-cli/source/commands/access-wallet.ts
  packages/platform-sdk-cli/source/commands/examples/commands/ada/transfer-funds.ts
  packages/platform-sdk-cli/source/commands/examples/commands/ark/transfer-funds.ts
  packages/platform-sdk-cli/source/commands/examples/commands/create-profile-with-wallets.ts
  packages/platform-sdk-cli/source/commands/examples/commands/lsk/transfer-funds.ts
  packages/platform-sdk-cli/source/commands/examples/commands/open-existing-profile.ts
  packages/platform-sdk-cli/source/commands/examples/commands/trx/transfer-funds.ts
  packages/platform-sdk-cli/source/commands/examples/commands/xlm/list-transactions.ts
  packages/platform-sdk-cli/source/commands/examples/commands/xlm/transfer-funds.ts
  packages/platform-sdk-dot/source/signed-transaction.dto.test.ts
  packages/platform-sdk-egld/source/signed-transaction.dto.test.ts
  packages/platform-sdk-nano/source/signed-transaction.dto.test.ts
  packages/platform-sdk-profiles/source/exchange-rate.service.contract.ts
  packages/platform-sdk-profiles/source/exchange-rate.service.test.ts
  packages/platform-sdk-profiles/source/exchange-rate.service.ts
  packages/platform-sdk-profiles/source/fee.service.test.ts
  packages/platform-sdk-profiles/source/portfolio.ts
  packages/platform-sdk-profiles/source/profile.contract.ts
  packages/platform-sdk-profiles/source/profile.test.ts
  packages/platform-sdk-profiles/source/profile.ts
  packages/platform-sdk-profiles/source/transaction.dto.test.ts
  packages/platform-sdk-profiles/source/transaction.dto.ts
  packages/platform-sdk-profiles/source/wallet.aggregate.contract.ts
  packages/platform-sdk-profiles/source/wallet.aggregate.test.ts
  packages/platform-sdk-profiles/source/wallet.aggregate.ts
  packages/platform-sdk-profiles/source/wallet.contract.ts
  packages/platform-sdk-profiles/source/wallet.repository.ts
  packages/platform-sdk-profiles/source/wallet.test.ts
  packages/platform-sdk-profiles/source/wallet.ts
  packages/platform-sdk-sol/source/signed-transaction.dto.test.ts
  packages/platform-sdk-support/source/bignumber.test.ts
  packages/platform-sdk-support/source/bignumber.ts
  packages/platform-sdk-xlm/source/signed-transaction.dto.test.ts
  packages/platform-sdk-zil/source/signed-transaction.dto.test.ts
  packages/platform-sdk/source/dto/multi-payment.contract.ts
  packages/platform-sdk/source/dto/multi-payment.ts
  packages/platform-sdk/source/dto/wallet.ts
  packages/platform-sdk/source/services/big-number.test.ts
Labels: Domain: ADA, Domain: ARK, Domain: AVAX, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: XLM, Domain: ZIL

#1846 fix(profiles): prevent duplicate DTO transformation in `TransactionAggregate`
  packages/platform-sdk-profiles/source/transaction.aggregate.test.ts
  packages/platform-sdk-profiles/source/transaction.aggregate.ts
Labels: Domain: Profiles

#1848 refactor(profiles): normalise signed data through `ExtendedSignedTransactionData`
  packages/platform-sdk-profiles/source/signed-transaction.dto.ts
  packages/platform-sdk-profiles/source/transaction.aggregate.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.contract.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.test.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
  packages/platform-sdk/source/dto/index.ts
  packages/platform-sdk/source/dto/signed-transaction.contract.ts
  packages/platform-sdk/source/dto/signed-transaction.ts
Labels: Domain: Profiles, Domain: SDK

#1849 release: 10.0.2
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1850 release: 10.0.3
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1852 chore(btc): deprecate indexer and server
  .github/labeler.yml
  .gitignore
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/LICENSE
  packages/platform-sdk-btc-indexer/README.md
  packages/platform-sdk-btc-indexer/banner.png
  packages/platform-sdk-btc-indexer/bin/meow.js
  packages/platform-sdk-btc-indexer/bin/run
  packages/platform-sdk-btc-indexer/bin/subscribe.js
  packages/platform-sdk-btc-indexer/migrations/create_initial_tables.sql
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/source/blocks.ts
  packages/platform-sdk-btc-indexer/source/client.ts
  packages/platform-sdk-btc-indexer/source/database.ts
  packages/platform-sdk-btc-indexer/source/factories.ts
  packages/platform-sdk-btc-indexer/source/index.ts
  packages/platform-sdk-btc-indexer/source/logger.ts
  packages/platform-sdk-btc-indexer/source/transactions.test.ts
  packages/platform-sdk-btc-indexer/source/transactions.ts
  packages/platform-sdk-btc-indexer/source/types.ts
  packages/platform-sdk-btc-indexer/test/fixtures/tx-1.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-2.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-3.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-4.json
  packages/platform-sdk-btc-indexer/tsconfig.json
  packages/platform-sdk-btc-server/LICENSE
  packages/platform-sdk-btc-server/README.md
  packages/platform-sdk-btc-server/banner.png
  packages/platform-sdk-btc-server/bin/meow.js
  packages/platform-sdk-btc-server/bin/run
  packages/platform-sdk-btc-server/bin/subscribe.js
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc-server/source/factories.ts
  packages/platform-sdk-btc-server/source/index.ts
  packages/platform-sdk-btc-server/tsconfig.json
  packages/platform-sdk-news-indexer/README.md
  rush.json
Labels: Domain: BTC/Indexer, Domain: BTC/Server, Domain: News/Indexer, ci

#1853 refactor(intl): make Numeral locale optional
  packages/platform-sdk-intl/source/numeral.ts
Labels: Domain: INTL

#1854 feat(json-rpc): implement `business.withdrawal`
  packages/platform-sdk-json-rpc/bin/meow.js
  packages/platform-sdk-json-rpc/source/index.ts
  packages/platform-sdk-json-rpc/source/methods/business.ts
Labels: Domain: JSPN-RPC

#1855 fix: create `WalletData` through `DataTransferObjectService`
  packages/platform-sdk-ada/source/client.service.ts
  packages/platform-sdk-ark/source/__snapshots__/ledger.service.test.ts.snap
  packages/platform-sdk-ark/source/client.service.ts
  packages/platform-sdk-ark/source/wallet.dto.test.ts
  packages/platform-sdk-ark/source/wallet.dto.ts
  packages/platform-sdk-atom/source/client.service.ts
  packages/platform-sdk-avax/source/client.service.ts
  packages/platform-sdk-btc/source/client.service.ts
  packages/platform-sdk-dot/source/client.service.ts
  packages/platform-sdk-egld/source/client.service.ts
  packages/platform-sdk-eos/source/client.service.ts
  packages/platform-sdk-eth/source/client.service.ts
  packages/platform-sdk-json-rpc/bin/meow.js
  packages/platform-sdk-json-rpc/source/methods/business.ts
  packages/platform-sdk-lsk/source/__snapshots__/ledger.service.test.ts.snap
  packages/platform-sdk-lsk/source/client.service.ts
  packages/platform-sdk-lsk/source/wallet.dto.test.ts
  packages/platform-sdk-nano/source/client.service.ts
  packages/platform-sdk-neo/source/client.service.ts
  packages/platform-sdk-sol/source/client.service.ts
  packages/platform-sdk-trx/source/client.service.ts
  packages/platform-sdk-xlm/source/client.service.ts
  packages/platform-sdk-xrp/source/client.service.ts
  packages/platform-sdk-zil/source/client.service.ts
  packages/platform-sdk/source/dto/wallet.ts
  packages/platform-sdk/source/services/data-transfer-object.service.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: JSPN-RPC, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1857 refactor(sdk): temporarily expose username, hash and recipients through `SignedTransactionData`
  packages/platform-sdk-ark/source/signed-transaction.dto.ts
  packages/platform-sdk/source/dto/signed-transaction.contract.ts
  packages/platform-sdk/source/dto/signed-transaction.ts
Labels: Domain: ARK, Domain: SDK

#1859 refactor(profiles): proxy temporary `SignedTransactionData` methods and normalise their output
  packages/platform-sdk-profiles/source/signed-transaction.dto.ts
  packages/platform-sdk/source/dto/signed-transaction.ts
Labels: Domain: Profiles, Domain: SDK

#1862 chore(profiles): export `Profile` class
  packages/platform-sdk-profiles/source/index.ts
Labels: Domain: Profiles

#1864 chore(profiles): export `Wallet` class
  packages/platform-sdk-profiles/source/index.ts
Labels: Domain: Profiles

#1867 feat(profiles): implement password removal
  packages/platform-sdk-profiles/source/authenticator.test.ts
  packages/platform-sdk-profiles/source/authenticator.ts
Labels: Domain: Profiles

#1868 fix: confirm ARK and LSK as soon as the transaction is on-chain
  packages/platform-sdk-ark/source/transaction.dto.ts
  packages/platform-sdk-lsk/source/transaction.dto.ts
Labels: Domain: ARK, Domain: LSK

#1866 refactor(ark): use maximum fee as static and maximum
  packages/platform-sdk-ark/source/fee.service.ts
  packages/platform-sdk-ark/source/signed-transaction.dto.ts
  packages/platform-sdk/source/dto/signed-transaction.contract.ts
  packages/platform-sdk/source/dto/signed-transaction.ts
Labels: Domain: ARK, Domain: SDK

#1870 release: 10.1.8
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1871 fix(profiles): normalise multi-payment amounts
  packages/platform-sdk-profiles/source/transaction.dto.ts
Labels: Domain: Profiles

#1872 release: 10.1.9
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1874 fix: always use `BigNumberService` for `BigNumber` creation in DTOs
  packages/platform-sdk-ada/source/wallet.dto.test.ts
  packages/platform-sdk-ada/source/wallet.dto.ts
  packages/platform-sdk-ark/source/wallet.dto.test.ts
  packages/platform-sdk-atom/source/wallet.dto.test.ts
  packages/platform-sdk-atom/source/wallet.dto.ts
  packages/platform-sdk-avax/source/wallet.dto.ts
  packages/platform-sdk-btc/source/wallet.dto.test.ts
  packages/platform-sdk-btc/source/wallet.dto.ts
  packages/platform-sdk-dot/source/wallet.dto.ts
  packages/platform-sdk-egld/source/wallet.dto.ts
  packages/platform-sdk-eos/source/wallet.dto.test.ts
  packages/platform-sdk-eos/source/wallet.dto.ts
  packages/platform-sdk-eth/source/wallet.dto.test.ts
  packages/platform-sdk-eth/source/wallet.dto.ts
  packages/platform-sdk-lsk/source/wallet.dto.ts
  packages/platform-sdk-neo/source/wallet.dto.test.ts
  packages/platform-sdk-neo/source/wallet.dto.ts
  packages/platform-sdk-profiles/source/serialiser.test.ts
  packages/platform-sdk-profiles/source/serialiser.ts
  packages/platform-sdk-sol/source/wallet.dto.ts
  packages/platform-sdk-trx/source/wallet.dto.test.ts
  packages/platform-sdk-xlm/source/wallet.dto.test.ts
  packages/platform-sdk-xlm/source/wallet.dto.ts
  packages/platform-sdk-xrp/source/wallet.dto.test.ts
  packages/platform-sdk-xrp/source/wallet.dto.ts
  packages/platform-sdk-zil/source/wallet.dto.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1877 feat: expose number of multi payment recipients
  packages/platform-sdk-ark/source/networks/ark.mainnet.ts
  packages/platform-sdk-ark/source/networks/bind.mainnet.ts
  packages/platform-sdk-ark/source/networks/shared.ts
  packages/platform-sdk-profiles/source/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/source/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/source/serialiser.test.ts
  packages/platform-sdk/source/networks/network-repository.test.ts
  packages/platform-sdk/source/networks/network.models.ts
  packages/platform-sdk/source/networks/network.test.ts
  packages/platform-sdk/source/networks/network.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1881 release: 10.1.14
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1882 refactor(profiles): throw an exception if invalid signatory is used for `addSignature`
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
Labels: Domain: ARK, Domain: Profiles

#1884 fix(profiles): pass plain object to multi-signature broadcaster
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
Labels: Domain: Profiles

#1885 refactor: return transaction broadcasting error as string
  packages/platform-sdk-ark/source/client.service.errors.test.ts
  packages/platform-sdk-ark/source/client.service.errors.ts
  packages/platform-sdk-ark/source/client.service.ts
  packages/platform-sdk-ark/source/client.test.ts
  packages/platform-sdk-atom/source/client.service.test.ts
  packages/platform-sdk-atom/source/client.service.ts
  packages/platform-sdk-btc/source/client.service.test.ts
  packages/platform-sdk-btc/source/client.service.ts
  packages/platform-sdk-eth/source/client.service.test.ts
  packages/platform-sdk-eth/source/client.service.ts
  packages/platform-sdk-lsk/source/client.service.test.ts
  packages/platform-sdk-lsk/source/client.service.ts
  packages/platform-sdk-neo/source/client.service.test.ts
  packages/platform-sdk-neo/source/client.service.ts
  packages/platform-sdk-profiles/source/serialiser.ts
  packages/platform-sdk-trx/source/client.service.test.ts
  packages/platform-sdk-trx/source/client.service.ts
  packages/platform-sdk-xlm/source/client.service.test.ts
  packages/platform-sdk-xlm/source/client.service.ts
  packages/platform-sdk-xrp/source/client.service.test.ts
  packages/platform-sdk-xrp/source/client.service.ts
  packages/platform-sdk-zil/source/client.service.test.ts
  packages/platform-sdk-zil/source/client.service.ts
  packages/platform-sdk/source/networks/network.test.ts
  packages/platform-sdk/source/services/client.contract.ts
Labels: Domain: ARK, Domain: ATOM, Domain: BTC, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1886 release: 10.1.17
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1883 fix: multi signature registration process
  packages/platform-sdk-ark-musig/bin/meow.js
  packages/platform-sdk-ark-musig/source/crypto.ts
  packages/platform-sdk-ark-musig/source/index.ts
  packages/platform-sdk-ark-musig/source/transaction-schema-verifier.ts
  packages/platform-sdk-ark/source/multi-signature.service.test.ts
  packages/platform-sdk-ark/source/multi-signature.service.ts
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-profiles/source/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/source/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/source/musig.test.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.test.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
  packages/platform-sdk-profiles/source/wallet.mutator.ts
  packages/platform-sdk-profiles/test/fixtures/client/blockchain.json
  packages/platform-sdk/source/services/multi-signature.contract.ts
  packages/platform-sdk/source/services/multi-signature.service.ts
  packages/platform-sdk/source/services/signatory.contract.ts
  packages/platform-sdk/source/services/signatory.service.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1888 refactor: stop normalising broadcasting errors
  packages/platform-sdk-ark/source/client.service.errors.test.ts
  packages/platform-sdk-ark/source/client.service.errors.ts
  packages/platform-sdk-ark/source/client.service.test.ts
  packages/platform-sdk-ark/source/client.service.ts
  packages/platform-sdk-ark/source/multi-signature.service.test.ts
  packages/platform-sdk-atom/source/client.service.test.ts
  packages/platform-sdk-atom/source/client.service.ts
  packages/platform-sdk-btc/source/client.service.test.ts
  packages/platform-sdk-btc/source/client.service.ts
  packages/platform-sdk-eth/source/client.service.ts
  packages/platform-sdk-lsk/source/client.service.test.ts
  packages/platform-sdk-lsk/source/client.service.ts
  packages/platform-sdk-neo/source/client.service.ts
  packages/platform-sdk-profiles/source/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/source/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
  packages/platform-sdk-trx/source/client.service.ts
  packages/platform-sdk-xlm/source/client.service.test.ts
  packages/platform-sdk-xlm/source/client.service.ts
  packages/platform-sdk-xrp/source/client.errors.ts
  packages/platform-sdk-xrp/source/client.service.test.ts
  packages/platform-sdk-xrp/source/client.service.ts
Labels: Domain: ARK, Domain: ATOM, Domain: BTC, Domain: ETH, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: TRX, Domain: XLM, Domain: XRP

#1889 fix(profiles): add missing methods to `ExtendedSignedTransactionData`
  packages/platform-sdk-profiles/source/signed-transaction.dto.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
Labels: Domain: Profiles

#1893 release: 10.2.0
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1896 release: 10.2.3
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1898 feat(ark): implement second WIF support for MuSig signing
  packages/platform-sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#1899 feat(ark): add final MuSig signature with ledger
  packages/platform-sdk-ark/source/multi-signature.signer.ts
  packages/platform-sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#1900 feat(ark): add MuSig participant signature with ledger
  packages/platform-sdk-ark/source/multi-signature.signer.ts
Labels: Domain: ARK

#1901 style: resolve style guide violations
  packages/platform-sdk-ada/source/transaction.dto.ts
  packages/platform-sdk-ark/source/multi-signature.signer.ts
  packages/platform-sdk-ark/source/transaction.dto.ts
  packages/platform-sdk-atom/source/transaction.dto.ts
  packages/platform-sdk-avax/source/transaction.dto.ts
  packages/platform-sdk-btc/source/transaction.dto.ts
  packages/platform-sdk-egld/source/transaction.dto.ts
  packages/platform-sdk-eos/source/transaction.dto.ts
  packages/platform-sdk-eth/source/transaction.dto.ts
  packages/platform-sdk-lsk/source/transaction.dto.ts
  packages/platform-sdk-lsk/source/transaction.service.ts
  packages/platform-sdk-luna/source/transaction.dto.ts
  packages/platform-sdk-nano/source/transaction.dto.ts
  packages/platform-sdk-neo/source/transaction.dto.ts
  packages/platform-sdk-sol/source/transaction.dto.ts
  packages/platform-sdk-trx/source/transaction.dto.ts
  packages/platform-sdk-xlm/source/transaction.dto.ts
  packages/platform-sdk-xrp/source/transaction.dto.ts
  packages/platform-sdk-zil/source/transaction.dto.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1903 fix(ark): ensure ledger public key is associated with MuSig
  packages/platform-sdk-ark/source/multi-signature.signer.ts
Labels: Domain: ARK

#1904 release: 10.2.8
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1906 feat(sdk): implement methods to identify ledger device model
  packages/platform-sdk-ark/source/ledger.service.ts
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-lsk/source/ledger.service.ts
  packages/platform-sdk/source/services/ledger.contract.ts
  packages/platform-sdk/source/services/ledger.service.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#1908 feat(sdk): expose word count for BIP39 passphrases
  packages/platform-sdk-profiles/source/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/source/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk/source/networks/network-repository.test.ts
  packages/platform-sdk/source/networks/network.models.ts
  packages/platform-sdk/source/networks/network.test.ts
  packages/platform-sdk/source/networks/network.ts
Labels: Domain: Profiles, Domain: SDK

#1911 release: 10.2.13
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1667 chore: implement command to update feature flags in manifests
  .github/workflows/cf.yml
  common/scripts/manifest-updater.js
  package.json
  packages/platform-sdk-ada/source/networks/shared.ts
  packages/platform-sdk-ark/source/multi-signature.signer.ts
  packages/platform-sdk-ark/source/networks/shared.ts
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-atom/source/networks/shared.ts
  packages/platform-sdk-avax/source/networks/shared.ts
  packages/platform-sdk-crypto/source/bip39.ts
  packages/platform-sdk-lsk/source/networks/shared.ts
  packages/platform-sdk-lsk/source/transaction.service.ts
  packages/platform-sdk-nano/source/networks/shared.ts
  packages/platform-sdk-neo/source/networks/shared.ts
  packages/platform-sdk-profiles/source/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/source/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-trx/source/networks/shared.ts
  packages/platform-sdk/source/networks/network-repository.test.ts
  packages/platform-sdk/source/networks/network.models.ts
  packages/platform-sdk/source/networks/network.test.ts
  pnpm-lock.yaml
  scripts/update-manifests.sh
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: Crypto, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: TRX, ci

#1873 feat(lsk): implement `WIFService`
  packages/platform-sdk-lsk/source/coin.services.ts
  packages/platform-sdk-lsk/source/key-pair.service.ts
  packages/platform-sdk-lsk/source/private-key.service.ts
  packages/platform-sdk-lsk/source/wif.service.test.ts
  packages/platform-sdk-lsk/source/wif.service.ts
  packages/platform-sdk-lsk/test/fixtures/identity.ts
Labels: Domain: LSK

#1912 fix(ark): return maximum fee as minimum and average for multi-payments
  packages/platform-sdk-ark/source/fee.service.ts
Labels: Domain: ARK

#1916 fix(profiles): update hasFetchedHistoricalRates logic
  packages/platform-sdk-profiles/source/exchange-rate.service.ts
Labels: Domain: Profiles

#1917 release: 10.2.17
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: News/Indexer, Domain: News/Server, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1921 chore: deprecate news indexer and server
  .github/labeler.yml
  .gitignore
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-news-indexer/.env.example
  packages/platform-sdk-news-indexer/LICENSE
  packages/platform-sdk-news-indexer/README.md
  packages/platform-sdk-news-indexer/banner.png
  packages/platform-sdk-news-indexer/bin/meow.js
  packages/platform-sdk-news-indexer/bin/run
  packages/platform-sdk-news-indexer/bin/subscribe.js
  packages/platform-sdk-news-indexer/package.json
  packages/platform-sdk-news-indexer/prisma/schema.prisma
  packages/platform-sdk-news-indexer/source/client.ts
  packages/platform-sdk-news-indexer/source/constants.ts
  packages/platform-sdk-news-indexer/source/database.ts
  packages/platform-sdk-news-indexer/source/factories.ts
  packages/platform-sdk-news-indexer/source/index.ts
  packages/platform-sdk-news-indexer/source/logger.ts
  packages/platform-sdk-news-indexer/source/types.ts
  packages/platform-sdk-news-indexer/tsconfig.json
  packages/platform-sdk-news-server/LICENSE
  packages/platform-sdk-news-server/README.md
  packages/platform-sdk-news-server/banner.png
  packages/platform-sdk-news-server/bin/meow.js
  packages/platform-sdk-news-server/bin/run
  packages/platform-sdk-news-server/bin/subscribe.js
  packages/platform-sdk-news-server/package.json
  packages/platform-sdk-news-server/prisma/schema.prisma
  packages/platform-sdk-news-server/source/factories.ts
  packages/platform-sdk-news-server/source/index.ts
  packages/platform-sdk-news-server/tsconfig.json
  rush.json
Labels: Domain: News/Indexer, Domain: News/Server, ci

#1920 chore: update tests and fixtures
  jest.coverage.js
  packages/platform-sdk-atom/source/address.service.test.ts
  packages/platform-sdk-atom/source/key-pair.service.test.ts
  packages/platform-sdk-atom/source/transaction.service.test.ts
  packages/platform-sdk-atom/test/fixtures/identity.ts
  packages/platform-sdk-eth/source/address.service.test.ts
  packages/platform-sdk-eth/test/fixtures/identity.ts
  packages/platform-sdk-profiles/source/__snapshots__/env.test.ts.snap
  packages/platform-sdk-profiles/source/__snapshots__/wallet.test.ts.snap
  packages/platform-sdk-support/source/abort.test.ts
  packages/platform-sdk/source/networks/network-repository.test.ts
  packages/platform-sdk/source/networks/network.test.ts
Labels: Domain: ATOM, Domain: ETH, Domain: Profiles, Domain: SDK, Domain: Support

#1923 refactor(profiles): return broadcast response after adding signature
  packages/platform-sdk-profiles/source/wallet-transaction.service.contract.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
Labels: Domain: Profiles

#1924 release: 10.3.1
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-http/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk-zil-indexer/package.json
  packages/platform-sdk-zil/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: Crypto, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#1925 feat(ark): sign transactions with secret
  packages/platform-sdk-ark/source/multi-signature.signer.ts
  packages/platform-sdk-ark/source/transaction.service.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.test.ts
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
  packages/platform-sdk-profiles/source/wallet.contract.ts
  packages/platform-sdk-profiles/source/wallet.test.ts
  packages/platform-sdk-profiles/source/wallet.ts
  packages/platform-sdk/source/services/signatory.service.ts
  packages/platform-sdk/source/signatories/index.ts
  packages/platform-sdk/source/signatories/secret.ts
  packages/platform-sdk/source/signatories/signatory.test.ts
  packages/platform-sdk/source/signatories/signatory.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK
