Repository ArkEcosystem/platform-sdk, pull requests merged in 2021-07, with the labels that each got.

#1930 refactor(support): drop AIP13/26 support and require coin/network
  packages/platform-sdk-profiles/source/wif.test.ts
  packages/platform-sdk-support/source/uri.test.ts
  packages/platform-sdk-support/source/uri.ts
  packages/platform-sdk-support/test/aip13.json
  packages/platform-sdk-support/test/uri.json
Labels: Domain: Profiles, Domain: Support

#1932 refactor(sdk): implement `Network#displayName`
  packages/platform-sdk-profiles/source/wallet-transaction.service.test.ts
  packages/platform-sdk-profiles/source/wallet.contract.ts
  packages/platform-sdk-profiles/source/wallet.factory.contract.ts
  packages/platform-sdk-profiles/source/wif.ts
  packages/platform-sdk-support/source/uri.test.ts
  packages/platform-sdk-support/source/uri.ts
  packages/platform-sdk/source/networks/network.test.ts
  packages/platform-sdk/source/networks/network.ts
Labels: Domain: Profiles, Domain: SDK, Domain: Support

#1934 refactor(profiles): use transaction ID as index key
  packages/platform-sdk-profiles/source/wallet-transaction.service.ts
Labels: Domain: Profiles
