Repository ArkEcosystem/platform-sdk, pull requests merged in 2021-04, with the labels that each got.

#1280 refactor(ark): support `vendorField` search
  packages/platform-sdk-ark/src/services/client.ts
  packages/platform-sdk/src/contracts/coins/client.ts
Labels: Domain: ARK, Domain: SDK

#1279 refactor: return BIP44 paths for ledger scan
  packages/platform-sdk-ada/src/services/ledger.ts
  packages/platform-sdk-ark/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-ark/src/services/ledger.test.ts
  packages/platform-sdk-ark/src/services/ledger.ts
  packages/platform-sdk-atom/src/services/ledger.ts
  packages/platform-sdk-avax/src/services/ledger.ts
  packages/platform-sdk-btc/src/services/ledger.ts
  packages/platform-sdk-dot/src/services/ledger.ts
  packages/platform-sdk-egld/src/services/ledger.ts
  packages/platform-sdk-eos/src/services/ledger.ts
  packages/platform-sdk-eth/src/services/ledger.ts
  packages/platform-sdk-lsk/src/services/ledger.ts
  packages/platform-sdk-luna/src/services/ledger.ts
  packages/platform-sdk-nano/src/services/ledger.ts
  packages/platform-sdk-neo/src/services/ledger.ts
  packages/platform-sdk-sol/src/services/ledger.ts
  packages/platform-sdk-trx/src/services/ledger.ts
  packages/platform-sdk-xlm/src/services/ledger.ts
  packages/platform-sdk-xrp/src/services/ledger.ts
  packages/platform-sdk/src/contracts/coins/ledger.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP

#1281 feat(profiles): implement portfolio breakdown by ticker
  packages/platform-sdk-profiles/src/contracts/profiles/index.ts
  packages/platform-sdk-profiles/src/contracts/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/exchange-rate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1282 release: 4.1.13
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1283 refactor: include cold wallets in ledger scan results
  packages/platform-sdk-ada/src/services/ledger.ts
  packages/platform-sdk-ark/src/services/ledger.ts
  packages/platform-sdk-atom/src/services/ledger.ts
  packages/platform-sdk-avax/src/services/ledger.ts
  packages/platform-sdk-btc/src/services/ledger.ts
  packages/platform-sdk-dot/src/services/ledger.ts
  packages/platform-sdk-egld/src/services/ledger.ts
  packages/platform-sdk-eos/src/services/ledger.ts
  packages/platform-sdk-eth/src/services/ledger.ts
  packages/platform-sdk-lsk/src/services/ledger.ts
  packages/platform-sdk-luna/src/services/ledger.ts
  packages/platform-sdk-nano/src/services/ledger.ts
  packages/platform-sdk-neo/src/services/ledger.ts
  packages/platform-sdk-sol/src/services/ledger.ts
  packages/platform-sdk-trx/src/services/ledger.ts
  packages/platform-sdk-xlm/src/services/ledger.ts
  packages/platform-sdk-xrp/src/services/ledger.ts
  packages/platform-sdk/src/contracts/coins/ledger.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP

#1284 release: 4.1.14
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1285 test(ark): fix failing ledger test
  packages/platform-sdk-ark/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-ark/src/services/ledger.test.ts
Labels: Domain: ARK

#1286 test(ark): compare address derived from public key
  packages/platform-sdk-ark/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-ark/src/services/ledger.test.ts
  packages/platform-sdk-ark/src/services/ledger.ts
  packages/platform-sdk-ark/src/services/message.test.ts
Labels: Domain: ARK

#1287 refactor(ark): DRY up peer determination
  packages/platform-sdk-ark/src/helpers.ts
  packages/platform-sdk-ark/src/service-provider.ts
  packages/platform-sdk-ark/src/services/client.ts
  packages/platform-sdk-ark/src/services/fee.ts
  packages/platform-sdk-ark/src/services/peer.ts
Labels: Domain: ARK

#1288 refactor(sdk): mirror `__construct` and `__destruct` in `CoinFactory`
  packages/platform-sdk-ark/src/helpers.ts
  packages/platform-sdk-ark/src/services/fee.ts
  packages/platform-sdk-ark/src/services/ledger.test.ts
  packages/platform-sdk-ark/src/services/ledger.ts
  packages/platform-sdk-ark/src/services/message.test.ts
  packages/platform-sdk-json-rpc/src/helpers.ts
  packages/platform-sdk-profiles/src/contracts/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/contracts/contacts/contact.ts
  packages/platform-sdk-profiles/src/contracts/mappers/delegate-mapper.ts
  packages/platform-sdk-profiles/src/contracts/plugins/plugin-registry.ts
  packages/platform-sdk-profiles/src/contracts/plugins/plugin-repository.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/count-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/registration-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/wallet-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/contracts/profiles/index.ts
  packages/platform-sdk-profiles/src/contracts/profiles/migrator.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/data-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/notification-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/peer-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/setting-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/contracts/services/cache.ts
  packages/platform-sdk-profiles/src/contracts/services/coin-service.ts
  packages/platform-sdk-profiles/src/contracts/services/delegate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/exchange-rate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/fee-service.ts
  packages/platform-sdk-profiles/src/contracts/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/contracts/services/wallet-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/read-only-wallet.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/coin-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/coin-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/exchange-rate-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/fee-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/known-wallet-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/environment/container.helpers.ts
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk/src/coins/coin-factory.test.ts
  packages/platform-sdk/src/coins/coin-factory.ts
  packages/platform-sdk/src/coins/coin.test.ts
  packages/platform-sdk/src/coins/coin.ts
  packages/platform-sdk/src/exceptions.ts
Labels: Domain: ARK, Domain: JSPN-RPC, Domain: Profiles, Domain: SDK

#1290 refactor(profiles): prevent duplicate coin synchronisation
  packages/platform-sdk-ark/src/services/fee.ts
  packages/platform-sdk-ark/src/services/peer.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/fee-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk/src/coins/coin.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1291 refactor(profiles): implement `IProfile#hasBeenPartiallyRestored`
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
Labels: Domain: Profiles

#1292 release: 4.2.2
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1295 fix(ark): map correct path for BIP44 derivation
  packages/platform-sdk-ark/src/services/ledger.ts
Labels: Domain: ARK

#1296 release: 4.2.4
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1298 fix(ada): don't harden account key segments
  packages/platform-sdk-ada/src/services/identity/shelley.ts
Labels: Domain: ADA

#1299 refactor(ark): only return 1 cold wallet from ledger scanning
  packages/platform-sdk-ark/src/services/__snapshots__/ledger.test.ts.snap
  packages/platform-sdk-ark/src/services/ledger.test.ts
  packages/platform-sdk-ark/src/services/ledger.ts
Labels: Domain: ARK

#1301 release: 4.2.7
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1302 release: 4.2.8
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1303 refactor(sdk): determine if coin instance uses a custom host
  packages/platform-sdk-profiles/src/contracts/services/coin-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/coin-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1304 release: 4.2.9
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1305 refactor(profiles): accept locale as argument in `WalletRepository#generate`
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
Labels: Domain: Profiles

#1306 feat(dot): add kusama manifest
  packages/platform-sdk-dot/src/manifest.ts
  packages/platform-sdk-dot/src/networks/ksm/mainnet.ts
  packages/platform-sdk-dot/src/schema.ts
Labels: Domain: DOT

#1307 refactor(profiles): expose if read-only wallet is a (resigned) delegate
  packages/platform-sdk-profiles/src/contracts/wallets/read-only-wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/read-only-wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/read-only-wallet.ts
  packages/platform-sdk/src/dto/wallet.ts
Labels: Domain: Profiles, Domain: SDK

#1293 refactor(profiles): split profile `restore` and `sync`
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
Labels: Domain: Profiles

#1309 refactor(profiles): make coin instance available offline
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk/src/exceptions.ts
Labels: Domain: Profiles, Domain: SDK

#1311 release: 4.2.14
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1312 release: 4.2.15
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1314 release: 4.2.16
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1196 docs(eth-indexer): add TSDoc comments
  packages/platform-sdk-eth-indexer/src/database.ts
  packages/platform-sdk-eth-indexer/src/helpers.ts
  packages/platform-sdk-eth-indexer/src/index.ts
Labels: Complexity: Medium, Domain: ETH/Indexer, Status: In Progress, domain/eth/indexer

#1197 docs(dot-indexer): add TSDoc comments
  packages/platform-sdk-dot-indexer/src/database.ts
  packages/platform-sdk-dot-indexer/src/helpers.ts
  packages/platform-sdk-dot-indexer/src/index.ts
Labels: Complexity: Medium, Domain: DOT/Indexer, Status: In Progress, domain/dot/indexer

#1315 fix: expose locale as a parameter in wallet generation
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
Labels: Domain: Profiles

#1317 fix: ensure wallet is marked as fully restored when coin is synced in `setCoin`
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1316 release: 4.2.17
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1318 release: 4.2.18
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1319 refactor(profiles): type hint interfaces
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/src/contracts/services/coin-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/dto/transaction.ts
  packages/platform-sdk-profiles/src/environment/container.helpers.ts
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1321 refactor(btc-indexer): require `bcoin` server to be used
  packages/platform-sdk-btc-indexer/bin/meow.js
  packages/platform-sdk-btc-indexer/src/client.ts
  packages/platform-sdk-btc-indexer/src/helpers.ts
  packages/platform-sdk-btc-indexer/src/index.ts
Labels: Domain: BTC/Indexer

#1322 refactor(btc-server): require `BCoin` instance from `QuikNode` for `UTXO` support
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-server/bin/meow.js
  packages/platform-sdk-btc-server/src/helpers.ts
  packages/platform-sdk-btc-server/src/index.ts
Labels: Domain: BTC/Indexer, Domain: BTC/Server

#1323 refactor(btc-server): enable transaction listing endpoint
  packages/platform-sdk-btc-server/src/index.ts
Labels: Domain: BTC/Server

#1034 feat(ada): broadcast transaction using graphql
  .gitignore
  packages/platform-sdk-ada/src/networks/ada/testnet.ts
  packages/platform-sdk-ada/src/services/client.test.ts
  packages/platform-sdk-ada/src/services/client.ts
  packages/platform-sdk-ada/src/services/graphql-helpers.ts
  packages/platform-sdk-ada/src/services/helpers.ts
  packages/platform-sdk-ada/src/services/identity/shelley.ts
  packages/platform-sdk-ada/src/services/transaction.helpers.test.ts
  packages/platform-sdk-ada/src/services/transaction.helpers.ts
  packages/platform-sdk-ada/src/services/transaction.models.ts
  packages/platform-sdk-ada/src/services/transaction.test.ts
  packages/platform-sdk-ada/src/services/transaction.ts
  packages/platform-sdk-ada/test/fixtures/transaction/expiration.json
  packages/platform-sdk-ada/test/fixtures/transaction/submit-tx-failed.json
  packages/platform-sdk-ada/test/fixtures/transaction/submit-tx.json
  packages/platform-sdk-ada/test/fixtures/transaction/transactions-page-1.json
  packages/platform-sdk-ada/test/fixtures/transaction/transactions-page-2.json
  packages/platform-sdk-ada/test/fixtures/transaction/utxos.json
  packages/platform-sdk-ada/test/mariano.test.ts
  packages/platform-sdk-ada/test/submit-tx.test.ts
Labels: Domain: ADA

#1320 refactor(profiles): store active profile in container
  packages/platform-sdk-cli/src/commands/access-profile.ts
  packages/platform-sdk-cli/src/commands/import-ledger-wallet.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/services/delegate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/fee-service.ts
  packages/platform-sdk-profiles/src/contracts/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact.ts
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/count-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/count-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/registration-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/registration-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/transaction-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/wallet-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/wallet-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/coin-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/coin-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/exchange-rate-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/fee-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/fee-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/known-wallet-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/dto/transaction-mapper.test.ts
  packages/platform-sdk-profiles/src/dto/transaction.test.ts
  packages/platform-sdk-profiles/src/environment/container.helpers.ts
  packages/platform-sdk-profiles/src/environment/container.models.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
  packages/platform-sdk-profiles/src/environment/env.ts
  packages/platform-sdk-profiles/src/environment/state.ts
  packages/platform-sdk-profiles/src/helpers/password.test.ts
  packages/platform-sdk-profiles/src/helpers/password.ts
  packages/platform-sdk-profiles/test/helpers.ts
  packages/platform-sdk/src/exceptions.ts
Labels: Domain: CLI, Domain: Profiles, Domain: SDK

#1324 refactor(profiles): dry up password key generation
  packages/platform-sdk-profiles/src/helpers/password.ts
Labels: Domain: Profiles

#1325 feat:(btc) aggregate transaction amount
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-profiles/src/helpers/password.ts
Labels: Domain: BTC/Indexer, Domain: Profiles

#1328 refactor(profiles): apply migrations before profile data validation
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/environment/container.models.ts
  packages/platform-sdk-profiles/src/environment/env.ts
Labels: Domain: Profiles

#1329 refactor(profiles): use proper type for wallet object data
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
Labels: Domain: Profiles

#1331 docs(profiles): document `Profile`
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
Labels: Domain: Profiles

#1332 docs(profiles): add tsdoc blocks
  packages/platform-sdk-profiles/src/contracts/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/contracts/contacts/contact.ts
  packages/platform-sdk-profiles/src/contracts/index.ts
  packages/platform-sdk-profiles/src/contracts/mappers/delegate-mapper.ts
  packages/platform-sdk-profiles/src/contracts/mappers/index.ts
  packages/platform-sdk-profiles/src/contracts/plugins/plugin-registry.ts
  packages/platform-sdk-profiles/src/contracts/plugins/plugin-repository.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/count-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/registration-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/wallet-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/contracts/profiles/migrator.ts
  packages/platform-sdk-profiles/src/contracts/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.enum.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.factory.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/data-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/notification-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/peer-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/setting-repository.ts
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/contracts/services/cache.ts
  packages/platform-sdk-profiles/src/contracts/services/coin-service.ts
  packages/platform-sdk-profiles/src/contracts/services/delegate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/exchange-rate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/fee-service.ts
  packages/platform-sdk-profiles/src/contracts/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/contracts/services/wallet-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/read-only-wallet.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.enum.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/test/helpers.ts
Labels: Domain: Profiles

#1334 refactor(profiles): remove import methods from `IWalletRepository`
  packages/platform-sdk-cli/src/commands/create-wallet.ts
  packages/platform-sdk-cli/src/commands/import-ledger-wallet.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/registration-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/transaction-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/wallet-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/exchange-rate-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/dto/transaction.test.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
  packages/platform-sdk-profiles/test/helpers.ts
Labels: Domain: CLI, Domain: Profiles

#1336 refactor(profiles): extract ability methods into `IWalletGate`
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.gate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1335 refactor(profiles): expose internal wallet data through getters and setters
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/helpers/attribute-bag.ts
Labels: Domain: Profiles

#1339 refactor(profiles): remove profile proxy methods for peers
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1337 refactor(profiles): extract synchronisation methods into `IWalletSynchroniser`
  packages/platform-sdk-cli/src/commands/access-wallet.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: CLI, Domain: Profiles

#1340 feat(profiles): implement `AttributeBag#hasStrict`
  packages/platform-sdk-cli/src/commands/access-wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/helpers/attribute-bag.ts
Labels: Domain: Profiles

#1333 feat(btc-indexer): store transaction fees
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/helpers.ts
  packages/platform-sdk-btc-indexer/src/index.ts
  packages/platform-sdk-btc-indexer/src/logger.ts
  packages/platform-sdk-btc-indexer/src/tx-parsing-helpers.test.ts
  packages/platform-sdk-btc-indexer/src/tx-parsing-helpers.ts
  packages/platform-sdk-btc-indexer/test/fixtures/tx-1.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-2.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-3.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-4.json
Labels: Domain: BTC/Indexer

#1342 fix(ark): set delegate status to false when resigned
  packages/platform-sdk-ark/src/dto/wallet.test.ts
  packages/platform-sdk-ark/src/dto/wallet.ts
Labels: Domain: ARK

#1341 refactor(profiles): replace raw data methods for profile with `AttributeBag`
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/helpers/attribute-bag.ts
Labels: Domain: Profiles

#1343 refactor(profiles): extract `import/export` and `encrypt/decrypt` into services
  packages/platform-sdk-profiles/src/contracts/profiles/profile.encrypter.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/helpers/attribute-bag.ts
Labels: Domain: Profiles

#1345 test(profiles): use non-resigned delegate fixture
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/registration-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/test/fixtures/client/wallet-non-resigned.json
Labels: Domain: Profiles

#1346 refactor(profiles): extract dumping/serialising of profiles into services
  packages/platform-sdk-cli/src/commands/access-profile.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
Labels: Domain: CLI, Domain: Profiles

#1347 refactor(profiles): split wallet into smaller services
  packages/platform-sdk-cli/src/commands/list-transactions.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/multi-signature.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/transaction-index.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/vote-registry.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/wif.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/transaction-aggregate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/multi-signature.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/multi-signature.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/transaction-index.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/transaction-index.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/vote-registry.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/vote-registry.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/wif.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/wif.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: CLI, Domain: Profiles

#1348 refactor(profiles): add missing interfaces
  packages/platform-sdk-profiles/src/contracts/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.ts
Labels: Domain: Profiles

#1349 refactor(profiles): move property methods before functional methods
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1344 feat(btc-indexer): store recipient address when indexing
  packages/platform-sdk-btc-indexer/src/database.ts
  packages/platform-sdk-btc-indexer/src/index.ts
  packages/platform-sdk-btc-indexer/src/logger.ts
  packages/platform-sdk-btc-indexer/src/tx-parsing-helpers.test.ts
  packages/platform-sdk-btc-indexer/src/tx-parsing-helpers.ts
  packages/platform-sdk-btc-indexer/src/types.ts
  packages/platform-sdk-btc-indexer/test/fixtures/tx-1.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-2.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-3.json
  packages/platform-sdk-btc-indexer/test/fixtures/tx-4.json
Labels: Domain: BTC/Indexer

#1350 fix(btc-server): accommodate endpoint to new db structure
  packages/platform-sdk-btc-server/src/index.ts
Labels: Domain: BTC/Server

#1353 feat(profiles): introduce event emitter for internal events
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-cli/src/commands/access-profile.ts
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact.ts
  packages/platform-sdk-profiles/src/drivers/memory/helpers.ts
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/notification-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/notification-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/peer-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/peer-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/setting-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/setting-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/wif.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/environment/container.models.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
  packages/platform-sdk-profiles/src/environment/env.ts
  packages/platform-sdk-profiles/src/helpers/password.ts
  packages/platform-sdk-profiles/test/helpers.ts
Labels: Domain: CLI, Domain: Profiles

#1351 refactor(profiles): clean up some inconsistencies
  packages/platform-sdk-profiles/src/contracts/contacts/contact.ts
  packages/platform-sdk-profiles/src/contracts/plugins/plugin-registry.ts
  packages/platform-sdk-profiles/src/contracts/plugins/plugin-repository.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/count-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/registration-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/aggregates/wallet-aggregate.ts
  packages/platform-sdk-profiles/src/contracts/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/contracts/profiles/migrator.ts
  packages/platform-sdk-profiles/src/contracts/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.serialiser.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/contracts/services/cache.ts
  packages/platform-sdk-profiles/src/contracts/services/coin-service.ts
  packages/platform-sdk-profiles/src/contracts/services/delegate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/exchange-rate-service.ts
  packages/platform-sdk-profiles/src/contracts/services/fee-service.ts
  packages/platform-sdk-profiles/src/contracts/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/contracts/services/wallet-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/multi-signature.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/transaction-index.ts
  packages/platform-sdk-profiles/src/contracts/wallets/services/vote-registry.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/environment/env.test.ts
  packages/platform-sdk-profiles/src/helpers/attribute-bag.ts
Labels: Domain: Profiles

#1354 fix(profiles): remove duplicate profile saving events
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
Labels: Domain: Profiles

#1355 docs(profiles): inherit documentation from interfaces
  packages/platform-sdk-profiles/src/contracts/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact-address.ts
  packages/platform-sdk-profiles/src/drivers/memory/contacts/contact.ts
  packages/platform-sdk-profiles/src/drivers/memory/plugins/plugin-registry.ts
  packages/platform-sdk-profiles/src/drivers/memory/plugins/plugin-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/plugins/registry-plugin.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/count-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/registration-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/transaction-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/aggregates/wallet-aggregate.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/authenticator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/migrator.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/portfolio.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.dumper.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.encrypter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.exporter.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.importer.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/services/coin-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-address-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/contact-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/notification-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/peer-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/setting-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/wallet-repository.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/cache.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/exchange-rate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/fee-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/known-wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/wallet-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/dto/signed-transaction.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/read-only-wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/multi-signature.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/serialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/transaction-index.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/vote-registry.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/services/wif.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet-transaction-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.synchroniser.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1352 refactor: ability to set a start path for ledger scan
  packages/platform-sdk-ark/src/services/ledger.ts
  packages/platform-sdk/src/contracts/coins/ledger.ts
Labels: Domain: ARK, Domain: SDK

#1357 refactor(profiles): emit fatal logging only in production
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
Labels: Domain: Profiles

#1358 release: 5.0.0
  CHANGELOG-4.X.md
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1359 refactor(profiles): rename gate methods
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/services/delegate-service.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.gate.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.gate.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.test.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
  packages/platform-sdk-profiles/src/environment/env.ts
  packages/platform-sdk/src/coins/coin.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.test.ts
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: Profiles, Domain: SDK

#1361 style: resolve style guide violations
  packages/platform-sdk-ada/test/fixtures/transaction/transactions-page-1.json
  packages/platform-sdk-ada/test/fixtures/transaction/transactions-page-2.json
  packages/platform-sdk-ada/test/fixtures/transaction/utxos.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.gate.ts
Labels: Domain: ADA, Domain: ARK, Domain: CLI, Domain: Profiles

#1362 refactor: remove entity transaction types
  packages/platform-sdk-ark/src/networks/ark/devnet.ts
  packages/platform-sdk-ark/src/networks/ark/mainnet.ts
  packages/platform-sdk-ark/src/networks/compendia/mainnet.ts
  packages/platform-sdk-profiles/test/fixtures/network.json
  packages/platform-sdk/src/coins/network-repository.test.ts
  packages/platform-sdk/src/coins/network.test.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1363 fix(profiles): restore ability to reset settings
  packages/platform-sdk-profiles/src/contracts/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/contracts/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.initialiser.ts
  packages/platform-sdk-profiles/src/drivers/memory/profiles/profile.ts
  packages/platform-sdk-profiles/src/drivers/memory/repositories/profile-repository.ts
Labels: Domain: Profiles

#1364 release: 5.0.3
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1365 release: 5.0.4
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1366 fix:(profiles) adjust param types in `ITransactionService` sign methods
  packages/platform-sdk-profiles/src/contracts/wallets/wallet-transaction-service.ts
Labels: Domain: Profiles

#1367 release: 5.0.5
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1368 release: 5.0.6
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1371 refactor(neo): only validate address length
  packages/platform-sdk-neo/src/services/identity.test.ts
  packages/platform-sdk-neo/src/services/identity/address.ts
Labels: Domain: NEO

#1374 refactor: remove magistrate remnants
  packages/platform-sdk-ark/src/dto/transaction.ts
  packages/platform-sdk-ark/src/enums.ts
  packages/platform-sdk-ark/src/services/client.ts
  packages/platform-sdk-profiles/src/enums.test.ts
  packages/platform-sdk-profiles/src/enums.ts
  packages/platform-sdk-profiles/src/index.ts
  packages/platform-sdk/src/contracts/coins/client.ts
Labels: Domain: ARK, Domain: Profiles, Domain: SDK

#1375 feat(profiles): save environment on change
  packages/platform-sdk-profiles/src/drivers/memory/index.ts
  packages/platform-sdk-profiles/src/environment/container.models.ts
  packages/platform-sdk-profiles/src/environment/env.ts
Labels: Domain: Profiles

#1376 release: 6.0.0
  CHANGELOG-5.X.md
  CHANGELOG.md
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1377 test(neo): adjust fixture for BIP44 derivation from mnemonic
  packages/platform-sdk-neo/src/services/identity.test.ts
  packages/platform-sdk-neo/src/services/identity/utils.ts
  packages/platform-sdk-neo/test/fixtures/identity.ts
Labels: Domain: NEO

#1378 chore(neo): update host lists
  packages/platform-sdk-neo/src/networks/neo/mainnet.ts
  packages/platform-sdk-neo/src/networks/neo/testnet.ts
Labels: Domain: NEO

#1379 release: 6.0.1
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP

#1383 refactor(profiles): store import method on wallet
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.enum.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.ts
Labels: Domain: Profiles

#1385 refactor(profiles): implement extended public key import from mnemonics
  packages/platform-sdk-ada/src/networks/ada/mainnet.ts
  packages/platform-sdk-ada/src/networks/ada/testnet.ts
  packages/platform-sdk-profiles/src/contracts/wallets/wallet.mutator.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.factory.ts
  packages/platform-sdk-profiles/src/drivers/memory/wallets/wallet.mutator.ts
  packages/platform-sdk/src/coins/network.models.ts
  packages/platform-sdk/src/coins/network.ts
Labels: Domain: ADA, Domain: Profiles, Domain: SDK

#1380 chore: update coin libraries
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/platform-sdk-ada/package.json
  packages/platform-sdk-ark-musig/package.json
  packages/platform-sdk-ark/package.json
  packages/platform-sdk-atom/package.json
  packages/platform-sdk-avax/package.json
  packages/platform-sdk-btc-indexer/package.json
  packages/platform-sdk-btc-server/package.json
  packages/platform-sdk-btc/package.json
  packages/platform-sdk-cli/package.json
  packages/platform-sdk-coincap/package.json
  packages/platform-sdk-coingecko/package.json
  packages/platform-sdk-crypto/package.json
  packages/platform-sdk-cryptocompare/package.json
  packages/platform-sdk-dot-indexer/package.json
  packages/platform-sdk-dot/package.json
  packages/platform-sdk-egld/package.json
  packages/platform-sdk-eos/package.json
  packages/platform-sdk-eth-indexer/package.json
  packages/platform-sdk-eth-server/package.json
  packages/platform-sdk-eth/package.json
  packages/platform-sdk-http-axios/package.json
  packages/platform-sdk-http-bent/package.json
  packages/platform-sdk-http-got/package.json
  packages/platform-sdk-http-ky/package.json
  packages/platform-sdk-http-node-fetch/package.json
  packages/platform-sdk-intl/package.json
  packages/platform-sdk-json-rpc/package.json
  packages/platform-sdk-lsk/package.json
  packages/platform-sdk-luna/package.json
  packages/platform-sdk-markets/package.json
  packages/platform-sdk-nano/package.json
  packages/platform-sdk-neo/package.json
  packages/platform-sdk-news/package.json
  packages/platform-sdk-profiles/package.json
  packages/platform-sdk-sol/package.json
  packages/platform-sdk-support/package.json
  packages/platform-sdk-trx/package.json
  packages/platform-sdk-xlm/package.json
  packages/platform-sdk-xrp/package.json
  packages/platform-sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: BTC/Indexer, Domain: BTC/Server, Domain: CLI, Domain: CoinCap, Domain: CoinGecko, Domain: Crypto, Domain: CryptoCompare, Domain: DOT, Domain: DOT/Indexer, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: ETH/Indexer, Domain: ETH/Server, Domain: HTTP/axios, Domain: HTTP/bent, Domain: HTTP/got, Domain: HTTP/ky, Domain: HTTP/node-fetch, Domain: INTL, Domain: JSPN-RPC, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: Support, Domain: TRX, Domain: XLM, Domain: XRP
